

<nav id="main-menu" >
            <!-- <div class="navbar-header" style="background-color: white">
                <a class="navbar-brand" href="/" >
                    <i class="fa logo-img" style="color: magenta"> BucksWise</i>
                </a>
            </div> -->

    <div class="navbar-header">

            <div >
                <ul (click)="RouteChanged()">
                    <br>
                    <br>
                    <br>
                    <li>
                        <a routerLink="profile" routerLinkActive="active"  >
                            <i class="fa fa-user fa-2x"></i>
                            <span class="nav-text" >
                                Profile
                            </span>
                        </a>
                    </li>
                    <li class="has-subnav">
                            <a routerLink="dashboard" routerLinkActive="active">
                                <i class="fa fa-tachometer-alt fa-2x"></i>

                                <span class="nav-text">
                                    Dashboard
                                </span>
                            </a>
                    </li>
                    <li class="has-subnav">
                        <a routerLink="income" routerLinkActive="active">
                            <i class="fa fa-rupee-sign fa-2x"></i>
                            <span class="nav-text">
                                Income
                            </span>
                        </a>

                    </li>
                    <!-- <li class="w3-dropdown-hover">
                        <a routerLink="spend" routerLinkActive="active">
                            <i class="fa fa-cart-arrow-down fa-2x"></i>
                            <span class="nav-text">
                                Expense 1
                            </span>
                            <i class="fa fa-caret-down"></i>
                            <div class="w3-dropdown-content w3-bar-block">
                              <a href="#" class="w3-bar-item w3-button">Link</a>
                              <a href="#" class="w3-bar-item w3-button">Link</a>
                            </div>
                        </a>
                    </li> -->
                    <!-- <li>
                        <a class="dropdown">
                            <i class="fa fa-cart-arrow-down fa-2x"></i>
                            <span class="nav-text ">
                                    Expense 2
                            </span>
                            <div class="dropdown-menu">
                                <a href="#">Utility</a>
                                <a href="#">Household</a>
                                <a href="#">Loan</a>
                                <a href="#">Insurance</a>
                            </div>
                        </a>
                    </li> -->
                    <!-- <li>
                        <div class="dropdown">
                            <span class="nav-text" routerLink="spend" routerLinkActive="active">
                                <i class="fa fa-cart-arrow-down fa-2x"></i>
                                Expense
                                <span class="fa fa-caret-down fa-2x"></span>
                            </span>
                            <div class="dropdown-content">
                                <a (click)="expense('utility')">Utility</a>
                                <a (click)="expense('house')">Household</a>
                                <a (click)="expense('loan')">Loan</a>
                                <a (click)="expense('insurance')">Insurance</a>
                                <a (click)="expense('credit')">Credit Card</a>
                                <a (click)="expense('travel')">Entertainment & Travel</a>
                                <a (click)="expense('misc')">Miscellaneous</a>
                            </div>
                        </div>
                    </li> -->

                    <!-- <li>
                        <button mat-button [matMenuTriggerFor]="animals">Animal index</button>

                            <mat-menu #animals="matMenu">
                            <button mat-menu-item [matMenuTriggerFor]="vertebrates">Vertebrates</button>
                            <button mat-menu-item [matMenuTriggerFor]="invertebrates">Invertebrates</button>
                            </mat-menu>
                    </li> -->
                    <li class="has-subnav">
                        <a routerLink="spend" routerLinkActive="active">
                            <i class="fa fa-cart-arrow-down fa-2x"></i>
                            <span class="nav-text">
                                Expense
                            </span>
                        </a>
                    </li>
                    <li>
                        <a routerLink="assets" routerLinkActive="active">
                            <i class="fa fa-user-plus fa-2x"></i>
                            <span class="nav-text">
                                Assets
                            </span>
                        </a>
                    </li>
                    <li>
                        <a routerLink="liability" routerLinkActive="active">
                            <i class="fa fa-tasks fa-2x"></i>
                            <span class="nav-text">
                                Liabilities
                            </span>
                        </a>
                    </li>
                    <li *ngIf="fullAccess">
                        <a [routerLink]="['/goalselect', encrypt]" routerLinkActive="active">
                            <i class="fa fa-bullseye fa-2x"></i>
                            <span class="nav-text">
                                Goals
                            </span>
                        </a>
                    </li>
                    <li *ngIf="fullAccess">
                        <a routerLink="tax" routerLinkActive="active">
                            <i class="fa fa-chart-line fa-2x"></i>
                            <span class="nav-text">
                                Tax
                            </span>
                        </a>
                    </li>
                    <li *ngIf="fullAccess">
                        <a routerLink="risk" routerLinkActive="active">
                            <i class="fa fa-user-md fa-2x"></i>
                            <span class="nav-text">
                                Risk
                            </span>
                        </a>
                    </li>
                    <li *ngIf="fullAccess">
                            <a  [routerLink]="['/appointment', encrypt]" routerLinkActive="active">
                                <i class="fa fa-chart-line fa-2x"></i>
                                <span class="nav-text">
                                        Appointment
                                </span>
                            </a>
                        </li>
                        <li>
                    <li *ngIf="fullAccess">
                        <a routerLink="advice" routerLinkActive="active">
                            <i class="fa fa-info fa-2x"></i>
                            <span class="nav-text">
                                Advice
                            </span>
                        </a>
                    </li>

                </ul>
            </div>
            <div >
                <ul>
                    <li>
                        <a (click)="Login()"  >
                            <i class="fa fa-user fa-2x"></i>
                            <span class="nav-text" >
                                Login
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>






