<span [ngSwitch]="isAuthenticated()">
    
    <div *ngSwitchCase="true">
        <div class="container">

                <!-- Start expense panel -->
                <div class="form-group row justify-content-md-center bwtitle ">
                    <span class="animated zoomIn">Expense</span>
                </div>
        
                <div> <!-- start expense content -->
                <mat-accordion>
        
                    <!-- expense modal -->
                    <ng-template #content let-c="close" let-d="dismiss">
                            <div class="modal-header">
                                <h4 class="modal-title" id="expense-modal">Add Extra Expense</h4>
                                <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                                <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form class="example-container" #incomeAdd="ngForm">
                                    <div>
                                            <mat-form-field class="example-full-width">
                                                <input required matInput required placeholder="Name" value="" [(ngModel)]="resource" name="resource-name" >
                                                <mat-hint >Please enter your resource of expense </mat-hint>
                                            </mat-form-field>
                                            </div>
                                        
                                            <div>
                                            <mat-form-field class="example-full-width">
                                                <input required matInput required jhiNumberOnly placeholder="Amount" type="number" value="" name="expense"
                                                [(ngModel)]="expense" 
                                                >
                                                <mat-hint >Please enter amount</mat-hint>
                                            </mat-form-field>
                                            </div>
                                            <br> <br>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-outline-dark" (click)="c('Save click')" [disabled]="incomeAdd.form.invalid">Add</button>
                                        </div>
                                </form>
                                </div>
                    </ng-template>
        
                    <!-- utilities -->
                    <mat-expansion-panel class="accordcol"
                    (opened)="panelUtilityState = true"
                    (closed)="panelUtilityState = false">
                        <!-- header -->
                        <mat-expansion-panel-header class="accordcol">
                            <mat-panel-title class="bwaccordtitle">Utilities </mat-panel-title>
                            <mat-panel-description class="bwaccordtitle setmarginutility">  {{panelUtilityState ? 'Collapse' : 'Expand'}}</mat-panel-description>
                        </mat-expansion-panel-header>
                
                        <!-- <jhi-utility></jhi-utility> -->
                        <router-outlet name="utility"></router-outlet>
                    
                    </mat-expansion-panel>     
                    &nbsp;
                    <!-- household -->
                    <mat-expansion-panel class="accordcolor" 
                    (opened)="panelHouseholdState = true"
                    (closed)="panelHouseholdState = false">
                        <!-- header -->
                        <mat-expansion-panel-header  class="accordcolor">
                            <mat-panel-title class="bwaccordtitle">Household</mat-panel-title>
                            <mat-panel-description class="bwaccordtitle setmarginhousehold" >{{panelHouseholdState ? 'Collapse' : 'Expand'}}</mat-panel-description>
                        </mat-expansion-panel-header>
                    
                        <!-- <jhi-household></jhi-household> -->
                        <router-outlet name="household"></router-outlet>
        
                    </mat-expansion-panel>    
                    &nbsp;
                    <!-- Loan -->
                    <mat-expansion-panel class="accordcol" 
                    (opened)="panelLoanState = true"
                    (closed)="panelLoanState = false">
                        <mat-expansion-panel-header  class="accordcol">
                            <mat-panel-title class="bwaccordtitle">Loans and Debts </mat-panel-title>
                            <mat-panel-description class="bwaccordtitle setmarginloan">{{panelLoanState ? 'Collapse' : 'Expand'}}</mat-panel-description>
                        </mat-expansion-panel-header>
                    
                        <!-- <jhi-loan></jhi-loan>  -->
                        <router-outlet name="loan"></router-outlet>
        
                    </mat-expansion-panel>   
                    &nbsp;
                    <!-- Insurance -->
                    <mat-expansion-panel class="accordcolor"
                    (opened)="panelInsState = true"
                    (closed)="panelInsState = false">

                            <mat-expansion-panel-header  class="accordcolor">
                                <mat-panel-title class="bwaccordtitle">Insurance</mat-panel-title>
                                <mat-panel-description class="bwaccordtitle setmargininsurance">{{panelInsState ? 'Collapse' : 'Expand'}}</mat-panel-description>
                            </mat-expansion-panel-header>
                            &nbsp;
                            <mat-accordion>
                                <!-- life -->
                                <mat-expansion-panel class="accordcol" 
                                (opened)="panelLifeState = true"
                                (closed)="panelLifeState = false">
                                    <mat-expansion-panel-header  class="accordcol">
                                            <mat-panel-title class="bwaccordtitle">Life Insurance</mat-panel-title>
                                            <mat-panel-description class="bwaccordtitle setmarginlifeins">{{panelLifeState ? 'Collapse' : 'Expand'}}</mat-panel-description>
                                    </mat-expansion-panel-header>
                                    
                                    <!-- <jhi-life></jhi-life> -->
                        <router-outlet name="life"></router-outlet>

        
                                </mat-expansion-panel>
                                &nbsp;
                                <!-- health -->
                                <mat-expansion-panel class="accordcolor"
                                (opened)="panelHealthState = true"
                                (closed)="panelHealthState = false">
                                    <mat-expansion-panel-header  class="accordcolor">
                                            <mat-panel-title class="bwaccordtitle">Health Insurance</mat-panel-title>
                                            <mat-panel-description class="bwaccordtitle setmarginentertainment">{{panelHealthState ? 'Collapse' : 'Expand'}}</mat-panel-description>
                                    </mat-expansion-panel-header>
                                    
                                    <!-- <jhi-health></jhi-health> -->
                        <router-outlet name="health"></router-outlet>

        
                                </mat-expansion-panel>
                                &nbsp;
                                <!-- General -->
                                <mat-expansion-panel  class="accordcol" 
                                (opened)="panelGeneralState = true"
                                (closed) = "panelGeneralState = false">
                                    <mat-expansion-panel-header  class="accordcol">
                                            <mat-panel-title class="bwaccordtitle">General Insurance</mat-panel-title>
                                            <mat-panel-description class="bwaccordtitle setmarginentertainment">{{panelGeneralState ? 'Collapse' : 'Expand'}}</mat-panel-description>
                                    </mat-expansion-panel-header>
        
                                    <!-- <jhi-general></jhi-general> -->
                        <router-outlet name="general"></router-outlet>

        
                                </mat-expansion-panel>
                            </mat-accordion>
                    
                    </mat-expansion-panel> 
                    &nbsp;
                    <!-- Credit Cards -->
                    <mat-expansion-panel class="accordcol"
                    (opened)="panelCreditState = true"
                    (closed)="panelCreditState = false">
                            <mat-expansion-panel-header  class="accordcol">
                                <mat-panel-title class="bwaccordtitle"> Credit Cards</mat-panel-title>
                                <mat-panel-description class="bwaccordtitle setmargincredit">{{panelCreditState ? 'Collapse' : 'Expand'}}</mat-panel-description>
                            </mat-expansion-panel-header>
                    
                            <!-- <jhi-credit></jhi-credit> -->
                        <router-outlet name="credit"></router-outlet>

        
                    </mat-expansion-panel>  
                    &nbsp;
                    <!-- Entertainment & Travel -->
                    <mat-expansion-panel class="accordcolor"
                    (opened)="panelTravelState = true"
                    (closed)="panelTravelState = false">
                            <!-- header -->
                            <mat-expansion-panel-header  class="accordcolor">
                                <mat-panel-title class="bwaccordtitle">
                                    Entertainment & Travel
                                </mat-panel-title>
                                <mat-panel-description class="bwaccordtitle setmarginentertainment">
                                {{panelTravelState ? 'Collapse' : 'Expand'}}
                                </mat-panel-description>
                            </mat-expansion-panel-header>
                    
                            <!-- <jhi-travel></jhi-travel> -->
                        <router-outlet name="travel"></router-outlet>

                    
                    </mat-expansion-panel> 
                    &nbsp;
                    <!-- Misc -->
                    <mat-expansion-panel  class="accordcol"
                    (opened)="panelMiscState = true"
                    (closed)="panelMiscState = false">
                            <!-- header -->
                            <mat-expansion-panel-header  class="accordcol">
                                <mat-panel-title class="bwaccordtitle">
                                    Miscellaneous
                                </mat-panel-title>
                                <mat-panel-description class="bwaccordtitle setmarginmisc">
                               {{panelMiscState ? 'Collapse' : 'Expand'}}
                                </mat-panel-description>
                            </mat-expansion-panel-header>
        
                            <!-- <jhi-misc></jhi-misc> -->
                        <router-outlet name="misc"></router-outlet>

                    
                    </mat-expansion-panel>  
                    &nbsp;  
                </mat-accordion> 
                </div>  <!-- end expense content -->
                </mat-expansion-panel> <!-- end expense panel -->

        </div>
    </div>
    <div *ngSwitchCase="false">
        <div class="alert alert-warning" *ngSwitchCase="false">
            <span>You are not signed in. <br> If you want to sign in</span>
            <a class="alert-link" (click)="login()">Click here</a>
        </div>
    </div>
</span>




