&nbsp;
<div class="row justify-content-center">
  <div class="col-8">
    <table class="table table-bordered table-striped table-responsive-md" style="align-content: text-center">
      <tbody>
        <tr>
          <th>Plan</th>
          <td>{{userAccount.plan}}</td>
        </tr>  
        <tr>
          <th>Plan Start Date</th>
          <td>{{userAccount.applyDate}}</td>
        </tr>  
        <tr>
          <th>Plan Expiry Date</th>
          <td>{{userAccount.expiryDate}}</td>
        </tr>  
      </tbody> 
    </table>
    <div class="container">
        <div class="row justify-content-md-center">
          <button mat-raised-button class="btnReset" (click)="upgrade()">Upgrade Account</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <button mat-raised-button class="btn-danger" (click)="deleleAccount()">Delete Account</button>
        </div>
    </div>
  </div>
</div>  