<div>
    <h4>Recommendation</h4>
    <div>
        <div class="row pull-right">
            <span [ngSwitch]="isRecommendData" class="btn-right">
                <p *ngSwitchCase="'ROLE_USER'">
                    <button type="button" class="btn btn-sm  btn-link" (click)="saveUserComments()">
                        <fa-icon [icon]="'save'"></fa-icon>
                        <span>save</span>
                    </button>
                </p>
                <p *ngSwitchCase="'ROLE_ADMIN'">
                    <button type="button" class="btn btn-sm  btn-link" (click)="saveRecommendation()">
                        <fa-icon [icon]="'save'"></fa-icon>
                        <span>Add</span>
                    </button>
                </p>
            </span>
        </div>
    </div>
    <table class="table table-bordered table-striped table-responsive-md" style="align-content: text-center">
        <thead>
            <tr>
                <td scope="col" style="width: 50px;">Sr.No.</td>
                <td scope="col" style="width: 700px;">Recommendation</td>
                
                <td scope="col" style="width: 100px;" *ngIf="authority === 'ROLE_ADMIN'">status</td>
                <td scope="col" style="width: 200px;" *ngIf="authority === 'ROLE_ADMIN'">user comments</td>
                <td scope="col" style="width: 97px;">Date</td>
                <td scope="col" style="width: 700px;" *ngIf="authority === 'ROLE_USER'"></td>
                <td scope="col" style="width: 130px;">Action</td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let recmd of recommend; index as i">
                <td>{{i+1}}</td>
                <td>
                    {{ recmd.reco }}
                </td>
                <td *ngIf="authority === 'ROLE_ADMIN'"></td>
                <td *ngIf="authority === 'ROLE_ADMIN'"></td>
                <td></td>
                <td *ngIf="authority === 'ROLE_USER'">
                    <mat-checkbox class="col-4" [(ngModel)]="recmd.approveValue">{{recmd.approve}}</mat-checkbox>
                    <mat-checkbox class="col-4" [(ngModel)]="recmd.rejectValue">{{recmd.reject}}</mat-checkbox>
                    <mat-form-field class="col-4">
                        <input type="text" matInput [(ngModel)]="recmd.comment" placeholder="type comments">
                    </mat-form-field>
                </td>
                <td style="cursor: pointer;">
                    <button class="btn btn-sm btn-outline-info" type="button" (click)="updateRecommendation(recmd)">
                        <span>
                            <fa-icon [icon]="'edit'"></fa-icon>
                        </span>
                    </button>
                    <button class="btn btn-sm btn btn-outline-danger" (click)="remove(recmd.id)">
                        <span>
                            <fa-icon [icon]="'trash'"></fa-icon></i>
                        </span>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>