<br>
<br>
<div class="container">
    <!--start of buttons -->
    <div>
        <div class="row pull-right">
            <span [ngSwitch]="showAdd">
                <p *ngSwitchCase="false">
                    <button type="button" class="btn btn-link" (click)="openLife(lifeModal)">
                        <span>
                            <i class="fa fa-plus" aria-hidden="true"></i>
                            <span>Add New</span>
                        </span>
                    </button>
                </p>
            </span>
            <button type="button" class="btn btn-link">
                <span>
                    <i class="fa fa-info" aria-hidden="true"></i>
                    <span>Help</span>
                </span>
            </button>
        </div>
        <!-- modal start -->
        <ng-template #lifeModal let-c="close" let-d="dismiss">
            <div class="modal-header">
                <h4 class="modal-title" id="lifeModal">Life Insurance Risk</h4>
                <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form name="editForm" role="form" novalidate #editForm="ngForm">
                    <label>Risk coverage for Family Annual Income {{ annualIncome | currency:"INR" }} </label>
                    <br>
                    <!-- <mat-form-field style="width: 50%;">
                            <mat-select placeholder="Select Name" [(ngModel)]="lifeInsurance.name" name="name" required>
                                <mat-option *ngFor="let item of names" [value]="item.nameFirst">
                                    {{item.nameFirst}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field> -->

                    <mat-form-field style="width: 100%;">
                        <label>How much of Expense(%) would you want to be replaced through insurance cover?</label>
                        <input matInput type="number" maxlength="3" (ngModelChange)="detectChange($event)" [(ngModel)]="lifeInsurance.expense_cover" [ngModelOptions]="{standalone: true}"
                            required>
                    </mat-form-field>

                    <mat-card>
                        <mat-card-header>
                            <mat-card-title>Which of your goals need to be fulfilled without fail? You can add it to the insurance cover
                                by checking the boxes below</mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <mat-accordion>
                                <mat-expansion-panel class="accordcol" [expanded]="true" (opened)="panelFutureState = true" (closed)="panelFutureState = false">
                                    <mat-expansion-panel-header class="specific-class accordcol  right-aligned-header">
                                        <mat-panel-title class="bwaccordtitle">Future Goals</mat-panel-title>
                                        <mat-panel-description class="bwaccordtitle">
                                            {{panelFutureState ? 'Collapse' : 'Expand'}}
                                        </mat-panel-description>
                                    </mat-expansion-panel-header>

                                    <div>
                                        <table class="table-responsive-md table table-hover table-sm">
                                            <thead>
                                                <tr>
                                                    <th scope="col"></th>
                                                    <th scope="col">Goal Name</th>
                                                    <th scope="col">Total Fund Needed</th>
                                                </tr>
                                            </thead>
                                            <tbody>

                                                <tr *ngFor="let goal of dynamicGoalArray; let i = index">
                                                    <td>
                                                        <mat-checkbox #cb [ngModel]="get(goal.id)" (ngModelChange)="checklife(cb.checked, goal.id, goal.futurecost)" [name]="goal.id">
                                                        </mat-checkbox>
                                                    </td>
                                                    <td> {{goal.goalname}} </td>
                                                    <td>{{goal.futurecost | currency:"INR"}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                </mat-expansion-panel>&nbsp;
                                <mat-expansion-panel [hideToggle]="false" class="accordcolor" (opened)="panelLiabilityState = true" (closed)="panelLiabilityState = false">
                                    <mat-expansion-panel-header class="specific-class accordcolor  right-aligned-header">
                                        <mat-panel-title class="bwaccordtitle">Non Insured Liabilities</mat-panel-title>
                                        <mat-panel-description class="bwaccordtitle">
                                            {{panelLiabilityState ? 'Collapse' : 'Expand'}}
                                        </mat-panel-description>
                                    </mat-expansion-panel-header>

                                    <div>
                                        <table class="table-responsive-md table table-hover table-sm">
                                            <thead>
                                                <tr>
                                                    <th scope="col">Liability Type</th>
                                                    <th scope="col">Organisation Name</th>
                                                    <th scope="col">Outstanding Amount</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let l of liability; let i = index">
                                                    <td> {{l.ltype}} </td>
                                                    <td>{{l.lenderName}} </td>
                                                    <td> {{l.outstandingpricipal}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </mat-expansion-panel>
                            </mat-accordion>
                        </mat-card-content>
                    </mat-card>

                    <div style="width: 100%;">
                        <mat-label>Total</mat-label>
                        {{lifeInsurance.total }}
                    </div>
                    <div class="modal-footer">
                        <button mat-raised-button type="submit" [disabled]="editForm.form.invalid" class="btnSave" (click)="c('Save click')">
                            <span class="fa fa-save"></span>&nbsp;
                            <span>Save</span>
                        </button>
                        <button mat-raised-button data-dismiss="modal" class="btnCancel" (click)="d('Cross click')">
                            <span class="fa fa-ban"></span>&nbsp;
                            <span>Cancel</span>
                        </button>&nbsp;
                    </div>
                </form>
            </div>
        </ng-template>
        <!-- end of modal -->

        <!-- table starts here -->
        <div>
            <table class="table-responsive-md table table-hover table-sm">
                <thead>
                    <tr>
                        <th scope="col">Expense percentage</th>
                        <th scope="col">Total yearly expenses</th>
                        <th scope="col">Edit</th>
                        <!-- <th scope="col">Delete</th> -->
                    </tr>
                </thead>
                <tbody>

                    <tr *ngFor="let lifeInsurance of goalLife; let i = index">
                        <!-- <td><a [routerLink]="['../stocks', stocks.id ]">{{stocks.id}}</a></td>
    <td> {{stocks.id}} </td> -->
                        <td>{{lifeInsurance.expense_cover}} </td>
                        <td>{{lifeInsurance.total}} </td>
                        <td>
                            <button class="btn btn-outline-info btn-sm" type="button" (click)="opnLife(lifeInsurance.id,lifeModal)">
                                <span>
                                    <fa-icon [icon]="'edit'"></fa-icon>
                                </span>
                            </button>
                        </td>
                        <td>
                            <!-- <button class="btn  btn-outline-danger btn-sm" type="button" (click)="deleteField(i, lifeInsurance.id)">
                                <span><fa-icon [icon]="'trash'"></fa-icon></span>
                            </button> -->

                        </td>

                    </tr>
                </tbody>

            </table>
        </div>

    </div>