<div *ngIf="LoggedIn">
    <div >
        <div class="container">
            <div>
                <div class="form-group row justify-content-center bwtitle">
                        <span class="animated zoomIn">Assets</span>
                </div>
                <mat-accordion>
                    <!-- stocks -->
                    <mat-expansion-panel  class="accordcol" 
                    (opened)="panelStockState = true"
                    (closed)="panelStockState = false" >
                        <mat-expansion-panel-header class="specific-class accordcol  right-aligned-header">
                            <mat-panel-title class="bwaccordtitle"> Stocks </mat-panel-title>
                            <!-- <mat-panel-description class="bwaccordtitle">Total Stock Value&nbsp;&nbsp;{{totalshareprice}}</mat-panel-description> -->
                            <mat-panel-description  class="bwaccordtitle setmarginstock" >
                                    {{panelStockState ? 'Collapse' : 'Expand'}}
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <!--write selector here--> 
                        <!-- <jhi-stock></jhi-stock>            -->
                        <router-outlet name="stock"></router-outlet>
                    </mat-expansion-panel>
                    &nbsp;
                    <!-- Mutual funds -->
                    <mat-expansion-panel  class="accordcolor" 
                    (opened)="panelMutualState = true"
                    (closed)="panelMutualState = false">
                        <mat-expansion-panel-header    class="accordcolor  right-aligned-header"">
                          <mat-panel-title class="bwaccordtitle"> Mutual Funds </mat-panel-title>
                             <!--  <mat-panel-description  class="bwaccordtitle">Total Mutual Value&nbsp;&nbsp;{{totalmutual}} </mat-panel-description> -->
                            <mat-panel-description  class="bwaccordtitle setmarginmutual" >
                                    {{panelMutualState ? 'Collapse' : 'Expand'}}
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <!--write selector here-->
                        <!-- <jhi-mutualfund></jhi-mutualfund>   -->
                        <router-outlet name="mutual"></router-outlet>
                    </mat-expansion-panel>
                    &nbsp;
                    <!-- Saving Schemes -->
                    <mat-expansion-panel class="accordcol"
                    (opened)="panelSavingState = true"
                    (closed)="panelSavingState = false">
                        <mat-expansion-panel-header   class="accordcol  right-aligned-header">
                            <mat-panel-title class="bwaccordtitle"> Saving Schemes </mat-panel-title>
                             <!--<mat-panel-description  class="bwaccordtitle ">Total Saving Schemes Value&nbsp;&nbsp; {{totalSaving}} </mat-panel-description> -->
                            <mat-panel-description  class="bwaccordtitle setmarginsaving" >
                                    {{panelSavingState ? 'Collapse' : 'Expand'}}
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                            <!--write selector here-->
                            <!-- <jhi-savingscheme></jhi-savingscheme> -->
                            <router-outlet name="saving"></router-outlet>
                    </mat-expansion-panel>
                    &nbsp;
                    <!-- Alternative Investment -->
                    <mat-expansion-panel  class="accordcolor"
                    (opened)="panelAlterState = true"
                    (closed)="panelAlterState = false" >
                        <mat-expansion-panel-header  class="accordcolor  right-aligned-header">
                             <mat-panel-title class="bwaccordtitle"> Alternative Investment </mat-panel-title>
                            <!--<mat-panel-description  class="bwaccordtitle">TotalAlternative Investment Value&nbsp;&nbsp; {{totalAltenateInvest}} </mat-panel-description> -->
                            <mat-panel-description  class="bwaccordtitle setmarginalter" >
                                    {{panelAlterState ? 'Collapse' : 'Expand'}}
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <!--write selector here-->
                        <!-- <jhi-alternative></jhi-alternative> -->
                        <router-outlet name="altinvest"></router-outlet>
                    </mat-expansion-panel>
                    &nbsp;
                    <!-- Cash -->
                    <mat-expansion-panel class="accordcol"
                    (opened)="panelCashState = true"
                    (closed)="panelCashState = false">
                        <mat-expansion-panel-header  class="accordcol  right-aligned-header">
                            <mat-panel-title  class="bwaccordtitle"> Cash </mat-panel-title>
                            <mat-panel-description  class="bwaccordtitle setmargincash" >
                                    {{panelCashState ? 'Collapse' : 'Expand'}}
                            </mat-panel-description>
                             <!--<mat-panel-description  class="bwaccordtitle">Total Cash Value&nbsp;&nbsp; {{totalCash}} </mat-panel-description> -->
                        </mat-expansion-panel-header>
                        <!--write selector here-->
                        <!-- <jhi-cash></jhi-cash> -->
                        <router-outlet name="cash"></router-outlet>
                    </mat-expansion-panel>
                    &nbsp;
                    <!-- Property -->
                    <mat-expansion-panel  class="accordcolor"
                    (opened)="panelPropertyState = true"
                    (closed)="panelPropertyState = false">
                        <mat-expansion-panel-header   class="accordcolor  right-aligned-header">
                             <mat-panel-title  class="bwaccordtitle"> Property and Jewellery </mat-panel-title>
                            <!-- <mat-panel-description  class="bwaccordtitle">Total  Property, Jewellery & Others Value&nbsp;&nbsp; {{totalProperty}} </mat-panel-description> --> 
                            <mat-panel-description  class="bwaccordtitle setmarginproperty" >
                                    {{panelPropertyState ? 'Collapse' : 'Expand'}}
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <!--write selector here-->
                        <!-- <jhi-property></jhi-property> -->
                        <router-outlet name="property"></router-outlet>

                    </mat-expansion-panel>
                    &nbsp;
                    <!-- Chit -->
                    <mat-expansion-panel class="accordcol"
                    (opened)="panelChitState = true"
                    (closed)="panelChitState = false">
                        <mat-expansion-panel-header class="accordcol  right-aligned-header">
                           <mat-panel-title  class="bwaccordtitle"> Chit Funds </mat-panel-title>
                             <!-- <mat-panel-description  class="bwaccordtitle">Total Chit Funds Value&nbsp;&nbsp; {{totalChitFund}} </mat-panel-description> -->
                            <mat-panel-description  class="bwaccordtitle setmarginchit" >
                                    {{panelChitState ? 'Collapse' : 'Expand'}}
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <!--write selector here-->
                        <!-- <jhi-chitfund></jhi-chitfund> -->
                        <router-outlet name="chit"></router-outlet>
                    </mat-expansion-panel>
                    &nbsp;
                    <!-- Future and Options -->
                    <mat-expansion-panel  class="accordcolor"
                        (opened)="panelFutureState = true"
                        (closed)="panelFutureState = false">
                        <mat-expansion-panel-header  class="accordcolor  right-aligned-header">
                            <!-- <mat-panel-title  class="bwaccordtitle"> Future and Options </mat-panel-title>
                            <mat-panel-description  class="bwaccordtitle" >Total Future and Options Value&nbsp;&nbsp; {{totalFutureOption}} </mat-panel-description> -->
                             <mat-panel-title  class="bwaccordtitle">Future and Options</mat-panel-title>
                            <mat-panel-description  class="bwaccordtitle setmarginfuture" >
                                    {{panelFutureState ? 'Collapse' : 'Expand'}}
                            </mat-panel-description>
                                
                        </mat-expansion-panel-header>
                        <!--write selector here-->
                        <!-- <jhi-futureoption></jhi-futureoption> -->
                        <router-outlet name="future"></router-outlet>
                    </mat-expansion-panel>
                    &nbsp;
                </mat-accordion>
            </div>
        </div>
    </div>
   
</div>