<div class="form-group row justify-content-center bwtitle">
    <span class="animated zoomIn">Tax Filing</span></div>
    <div style="background-color:#99ff99;margin-left:20px;margin-right: 20px;">
    <button mat-raised-button (click)="openDialog(1, 'TaxFile')">Upload/View</button>
    <div style="margin-left:150px;">
    <p></p>
    <p></p>
    <p>asdf asdf asdf asdf asdf asdf asdf asdf asdf</p>
    <p>asdf asdf asdf asdf asdf asdf asdf asdf asdf</p>
    <p>asdf asdf asdf asdf asdf asdf asdf asdf asdf</p>
    </div>
</div>  
<br> 
<div style="text-align:center">
    <h4>FORM NO. 16</h4>
    <p>[See rule 31(1)(a)]</p>
    <h5>PART B</h5>
</div>

<div class="card-header">
    Details of Salary paid and any other income and tax deducted
</div>
<div class="card-body">
    <table class="table-responsive-md table table-hover table-sm">
        <thead class="thead-light">
        <tr>
            <td>1.Gross Salary</td>
            <mat-form-field>
                <input matInput placeholder="Gross Salary">
              </mat-form-field>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>(a) Salary as per provisions contained in sec. 17(1)</td>
            <mat-form-field>
                <input matInput placeholder="Salary as per provisions">
            </mat-form-field>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>(b)  Value of perquisites u/s 17(2) (as per Form No.12BA, wherever applicable</td>
            <mat-form-field>
                <input matInput placeholder="Value of perquisites">
              </mat-form-field>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>(c) Profits in lieu of salary under section 17(3)(as per Form No.12BA, wherever applicable)</td>
            <mat-form-field>
                <input matInput placeholder="Profits in lieu of salary">
              </mat-form-field>
            <td></td>
            <td></td>
        </tr>
        <tr>
                <td>(d) Total</td>
                <td></td>
                <mat-form-field>
                        <input matInput placeholder="Total">
                </mat-form-field>
                <td></td>
        </tr>
        <tr>
                <td>(d) 2. Less: Allowance to the extent exempt u/s 10</td>
                <td></td>
                <td></td>
                <td></td>
        </tr>
        <tr>
                <td>(a)Allowance</td>
                <mat-form-field>
                        <input matInput placeholder="Allowance">
                </mat-form-field>
                <td></td>
                <td></td>
        </tr>
        <tr>
                <td>(b)Allowance</td>
                <td></td>
                <mat-form-field>
                        <input matInput placeholder="Allowance">
                </mat-form-field>
                <td></td>
        </tr>
        <tr>
                <td>3.Balance (1-2)</td>
                <mat-form-field>
                        <input matInput placeholder="Balance">
                </mat-form-field>
                <td></td>
                <td></td>
        </tr>
        <tr>
                <td>4.Deductions:</td>
               <td></td>
                <td></td>
                <td></td>
        </tr>
        <tr>
                <td>(a)Entertainment allowance</td>
                <mat-form-field>
                        <input matInput placeholder="Entertainment Allowance">
                </mat-form-field>
                <td></td>
                <td></td>
        </tr>
        <tr>
                <td>(b)Tax on employment</td>
                <mat-form-field>
                        <input matInput placeholder="Tax on employment">
                </mat-form-field>
                <td></td>
                <td></td>
        </tr>
        <tr>
                <td>5.Aggregate of 4(a) and (b)</td>
                <mat-form-field>
                        <input matInput placeholder="Aggregate">
                </mat-form-field>
                <td></td>
                <td></td>
        </tr>
        <tr>
                <td>6.Income chargeable under the head ‘Salaries’ (3-5)</td>
                <td></td>
                <mat-form-field>
                        <input matInput placeholder="Aggregate">
                </mat-form-field>
                
                <td></td>
        </tr>
        <tr>
                <td>7.Add:Any other income reported by the employee </td>
                <td></td>
                <td></td>
                <td></td>
        </tr>
        <tr>
                <td>(a).Income </td>
                <td></td>
                <mat-form-field>
                        <input matInput >
                </mat-form-field>
                
                <td></td>
        </tr>
        <tr>
                <td>(b).Income </td>
                <td></td>
                <mat-form-field>
                        <input matInput >
                </mat-form-field>
                <td></td>
        </tr>
        <tr>
                <td>8.Gross total income (6+7)</td>
                <td></td>
                <mat-form-field>
                        <input matInput >
                </mat-form-field>
                <td></td>
        </tr>
        <tr>
                <td>9.Deductions under Chapter VI-A</td>
                <td></td>
                <td></td>
                <td></td>
        </tr>
        <tr>
                <td>(A) sections 80C, 80CCC and 80CCD </td>
                <td></td>
                <td></td>
                <td></td>
        </tr>
        <tr>
                <td>(a) section 80C </td>
                <td></td>
                <th>Gross Amount</th>
                <th>Deduction Amount</th>
                
        </tr>
        <br>
        <!-- <tr>
                <td>(aa).............. </td>
                <td></td>
                <mat-form-field>
                        <input matInput >
                </mat-form-field>
                <td></td>
        </tr>
        <tr>
                <td>(ab).............. </td>
                <td></td>
                <mat-form-field>
                        <input matInput >
                </mat-form-field>
                <td></td>
        </tr>
        <tr>
                <td>(ac).............. </td>
                <td></td>
                <mat-form-field>
                        <input matInput >
                </mat-form-field>
                <td></td>
        </tr>
        <tr>
                <td>(ad).............. </td>
                <td></td>
                <mat-form-field>
                        <input matInput >
                </mat-form-field>
                <td></td>
        </tr>
        <tr>
                <td>(ae).............. </td>
                <td></td>
                <td></td>
                <td></td>
        </tr>
        <tr>
                <td>(af).............. </td>
                <td></td>
                <td></td>
                <td></td>
        </tr>
        <tr>
                <td>(ag).............. </td>
                <td></td>
                <td><mat-form-field>
                        <input matInput >
                </mat-form-field></td>
                <td><mat-form-field>
                        <input matInput >
                </mat-form-field></td>
        </tr> -->
        <tr>
               <td>(b)section 80CCC</td>
               <td></td>
               <td><mat-form-field>
                        <input matInput >
                </mat-form-field></td>
                <td><mat-form-field>
                        <input matInput >
                </mat-form-field></td>
        <tr>
                <td>(c)section 80CCD  </td>
                <td></td>
                <td></td>
                <td></td>
        </tr>
        <tr>
                <td>Note : 1.Aggregate amount deductible under sections 80C, 80CCC and 80CCD(1) shall not exceed one lakh rupees.  </td>
                <td></td>
                <td></td>
                <td></td>
        </tr>
        <tr>
                <td>(B) Other sections (e.g.   80E, 80G, 80TTA, etc.) under Chapter VI-A</td>
                <td></td>
                <td></td>
                <td></td>
        </tr>
        <tr>
                <td></td>
                <th>Gross Amount</th>
                <th>Qualifying amount</th>
                <th>Deduction Amount</th>
        </tr>
        <br>
        <!-- <tr>
                <td>(ba)section.............. </td>
                <td><mat-form-field>
                        <input matInput >
                </mat-form-field></td>
                <td><mat-form-field>
                        <input matInput >
                </mat-form-field></td>
                <td><mat-form-field>
                        <input matInput >
                </mat-form-field></td>
        </tr>
        <tr>
                <td>(bb)section.............. </td>
                <td><mat-form-field>
                          <input matInput >
                </mat-form-field></td>
                <td><mat-form-field>
                          <input matInput >
                </mat-form-field></td>
                <td><mat-form-field>
                          <input matInput >
                </mat-form-field></td>
        </tr>
        <tr>
                <td>(bc)section.............. </td>
                <td><mat-form-field>
                        <input matInput >
                </mat-form-field></td>
                <td><mat-form-field>
                        <input matInput >
                </mat-form-field></td>
                <td><mat-form-field>
                         <input matInput >
                </mat-form-field></td>
        </tr>
        <tr>
                <td>(bd)section.............. </td>
                <td><mat-form-field>
                         <input matInput >
                </mat-form-field></td>
                <td><mat-form-field>
                         <input matInput >
                </mat-form-field></td>
                <td><mat-form-field>
                         <input matInput >
                </mat-form-field></td>
        </tr>
        <tr>
                <td>(be)section.............. </td>
                <td><mat-form-field>
                         <input matInput >
                </mat-form-field></td>
                <td><mat-form-field>
                         <input matInput >
                </mat-form-field></td>
                <td><mat-form-field>
                         <input matInput >
                </mat-form-field></td>
        </tr> -->
        <tr>
                <td>(10) Aggregate of deductible amount under Chapter VI-A</td>
                <td></td>
                <mat-form-field>
                         <input matInput >
                </mat-form-field>
                <td></td>
        </tr>
        <tr>
                <td>(11) Total Income (8-10)</td>
                <td></td>
                <mat-form-field>
                        <input matInput >
                </mat-form-field>
                <td></td>
        </tr>
        <tr>
                <td>(12) Tax on total income </td>
                <td></td>
                <mat-form-field>
                        <input matInput >
                </mat-form-field>
                <td></td>
        </tr>
        <tr>
                <td>(13) Education cess @ 3% (on tax computed at S. No. 12)</td>
                <td></td>
                <mat-form-field>
                         <input matInput >
                </mat-form-field>
                <td></td>
        </tr>
        <tr>
                <td>(14)Tax Payable (12+13) </td>
                <td></td>
                <mat-form-field>
                         <input matInput >
                </mat-form-field>
                <td></td>
        </tr>
        <tr>
                <td>(15) Less: Relief under section 89 (attach details) </td>
                <td></td>
                <mat-form-field>
                         <input matInput >
                </mat-form-field>
                <td></td>
        </tr>
        <tr>
                <td>(16)Tax payable (14-15)</td>
                <td></td>
                <mat-form-field>
                         <input matInput >
                </mat-form-field>
                <td></td>
        </tr>
</table>
