<div *ngIf="LoggedIn">
    <div >
        <div class="container">
            <div class="form-group row justify-content-center bwtitle">
                    <span class="animated zoomIn">Tax Details</span></div>
            <mat-accordion>
                <mat-expansion-panel class="accordion accordcol"
                (opened)="panelGrossState = true"
                (closed)="panelGrossState = false">
                    <mat-expansion-panel-header class="accordcol right-aligned-header">
                        <mat-panel-title class="bwaccordtitle">
                                <h5 class="bwaccordtitle">Gross Income</h5>
                        </mat-panel-title>
                        <mat-panel-description class="bwaccordtitle ">
                           {{panelGrossState ? 'Collapse' : 'Expand'}}
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <jhi-gross></jhi-gross>
                </mat-expansion-panel> &nbsp;
                <mat-expansion-panel class="accordcolor"
                (opened)="panelEightyCState = true"
                (closed)="panelEightyCState = false">
                    <mat-expansion-panel-header class="accordcolor right-aligned-header">
                        <mat-panel-title class="bwaccordtitle">
                            <h5  class="bwaccordtitle">80C Deduction</h5>
                        </mat-panel-title>
                        <mat-panel-description class="bwaccordtitle setmargineightyc">
                                {{panelEightyCState ? 'Collapse' : 'Expand'}}
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <jhi-eightyc></jhi-eightyc>
                </mat-expansion-panel> &nbsp;
                <mat-expansion-panel  class="accordcol"
                (opened)="panelEightyDState = true"
                (closed)="panelEightyDState = false">
                    <mat-expansion-panel-header class="accordcol right-aligned-header">
                        <mat-panel-title class="bwaccordtitle">
                            <h5 class="bwaccordtitle"> 80D Deduction</h5>
                        </mat-panel-title>
                        <mat-panel-description class="bwaccordtitle setmargineightyd">
                                {{panelEightyDState ? 'Collapse' : 'Expand'}}
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <jhi-eightyd></jhi-eightyd>                 
                </mat-expansion-panel> &nbsp;
                <mat-expansion-panel class="accordcolor"
                (opened)="panelHomeState = true"
                (closed)="panelHomeState = false">
                    <mat-expansion-panel-header class="accordcolor right-aligned-header">
                        <mat-panel-title class="bwaccordtitle">
                            <h5 class="bwaccordtitle">Home Deduction</h5>
                        </mat-panel-title>
                        <mat-panel-description class="bwaccordtitle setmarginhome">
                                {{panelHomeState ? 'Collapse' : 'Expand'}}
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <jhi-home></jhi-home>
                </mat-expansion-panel> &nbsp;
                <mat-expansion-panel class="accordcol" 
                (opened)="panelOtherState = true"
                (closed)="panelOtherState = false">
                    <mat-expansion-panel-header class="accordcol right-aligned-header">
                        <mat-panel-title class="bwaccordtitle">
                            <h5 class="bwaccordtitle">Other Deduction</h5>  
                        </mat-panel-title>
                        <mat-panel-description class="bwaccordtitle setmarginother">
                                {{panelOtherState ? 'Collapse' : 'Expand'}}
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <jhi-other></jhi-other>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
    </div>
    
</div>
                