<div [ngSwitch]="isAuthenticated()">
    <div *ngSwitchCase="true">
        <div class="container">
            <div class="form-group row justify-content-center bwtitle">Tax Details</div>
            <mat-accordion>
                <mat-expansion-panel class="accordion accordcol"
                (opened)="panelGrossState = true"
                (closed)="panelGrossState = false">
                    <mat-expansion-panel-header class="accordcol">
                        <mat-panel-title class="bwaccordtitle">
                                <h5>Gross Income</h5>
                        </mat-panel-title>
                        <mat-panel-description class="bwaccordtitle">
                           {{panelGrossState ? 'Collapse' : 'Expand'}}
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <jhi-gross></jhi-gross>
                </mat-expansion-panel> &nbsp;
                <mat-expansion-panel class="accordcolor"
                (opened)="panelEightyCState = true"
                (closed)="panelEightyCState = false">
                    <mat-expansion-panel-header class="accordcolor">
                        <mat-panel-title class="bwaccordtitle">
                            <h5>80C Deduction</h5>
                        </mat-panel-title>
                        <mat-panel-description class="bwaccordtitle">
                                {{panelEightyCState ? 'Collapse' : 'Expand'}}
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <jhi-eightyc></jhi-eightyc>
                </mat-expansion-panel> &nbsp;
                <mat-expansion-panel  class="accordcol"
                (opened)="panelEightyDState = true"
                (closed)="panelEightyDState = false">
                    <mat-expansion-panel-header class="accordcol">
                        <mat-panel-title class="bwaccordtitle">
                            <h5> 80D Deduction</h5>
                        </mat-panel-title>
                        <mat-panel-description class="bwaccordtitle">
                                {{panelEightyDState ? 'Collapse' : 'Expand'}}
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <jhi-eightyd></jhi-eightyd>                 
                </mat-expansion-panel> &nbsp;
                <mat-expansion-panel class="accordcolor"
                (opened)="panelHomeState = true"
                (closed)="panelHomeState = false">
                    <mat-expansion-panel-header class="accordcolor">
                        <mat-panel-title class="bwaccordtitle">
                            <h5>Home Deduction</h5>
                        </mat-panel-title>
                        <mat-panel-description class="bwaccordtitle">
                                {{panelHomeState ? 'Collapse' : 'Expand'}}
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <jhi-home></jhi-home>
                </mat-expansion-panel> &nbsp;
                <mat-expansion-panel class="accordcol" 
                (opened)="panelOtherState = true"
                (closed)="panelOthertate = false">
                    <mat-expansion-panel-header class="accordcol">
                        <mat-panel-title class="bwaccordtitle">
                            <h5>Other Deduction</h5>  
                        </mat-panel-title>
                        <mat-panel-description class="bwaccordtitle">
                                {{panelOthertate ? 'Collapse' : 'Expand'}}
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <jhi-other></jhi-other>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
    </div>
    <div *ngSwitchCase="false" class="form-group row justify-content-center">
        <mat-card class="example-card">     
            <mat-card-content class="example-card" class="shadow">
                <span>Oops you are not Signed In </span>
                Please <a class="alert-link" (click)="login()">Click here</a><span> to sign-in now.</span>
            </mat-card-content>
        </mat-card>
    </div>
</div>
                