<!-- <div class="form-group">
    <input type="text" class="form-group" placeholder="search by Name" [(ngModel)]="searchName">

</div>
<div *ngFor = "let payment of paymentData | paymentFilter:searchName">
    <h6>{{payment.status}}</h6>
    <h6>{{payment.amount}}</h6>
    <h6>{{payment.productinfo}}</h6>
</div> -->

<div>
    <div style="padding: 16px;">
        <div style="margin-left: 79%;">
            <mat-form-field>
                <input type="text" placeholder="Search User" aria-label="Number" matInput [formControl]="myControl"
                    [matAutocomplete]="auto">
                <mat-autocomplete #auto="matAutocomplete">
                    <mat-option *ngFor="let option of filteredOptions | async; let i= index;" value="{{option.firstName}}">
                        {{option.firstName}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
            <button mat-raised-button type="submit" class="btn btn-primary">Search</button>
        </div>
  
        <table class="table table-bordered table-striped table-responsive-md" style="align-content: text-center">
            <thead>
                <tr>
                    <th scope="col">User Name</th>
                    <th scope="col">Plan</th>
                    <th scope="col">Review Date</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let users of userPlanDetails; let i = index">
                    <td>{{users.firstName}}</td>
                    <td>{{users.plan}}</td>
                    <td>{{users.reviewDate}}</td>
                    <td>
                        <button class="btn btn-outline-info btn-sm" type="button" value="Select"
                            routerLink="/advisorview/{{users.uid}}">Select
                        </button>
                    </td>
            </tbody>
        </table>
    </div>
</div>