    <div class="overlay-white bg-img4" ></div>
            <div class="text-center backgroundImage">
              <div class="row ">
                <div class="col-lg-12 col-lg-offset-2">
                  <h3 style="color:#f1592a">How IT Works</h3>
<ngb-carousel *ngIf="images">
  <ng-template ngbSlide>
      <div class="row">
        <!-- <div class="col-md-1"></div> -->
              <div class="col-md-6">
    <img src="../../img/gif/Goals.gif"  class="responsive" style="border-radius: 2px;
    border-style: solid;
   border-color: coral;
   border-width: thick;
   margin-left: 15%;
   height: 27rem;
   width: 46rem;">
    </div>
    <div class="col-md-2"></div>
    <!-- <div class="col-md-1"></div> -->
    <div class="col-md-4">
        <h5 style="color: white">Goals</h5>
        <ul style="color: white">
            <p> <span class="label"><img src="../../img/icon_right.png"  class="responsive" style="width: 4%;"></span>sadhejhd hfdsfh</p> 
            <p> <span class="label"><img src="../../img/icon_right.png"  class="responsive" style="width: 4%;"></span> 2.ghh hfdhf gfhfh</p>
            <p> <span class="label"><img src="../../img/icon_right.png"  class="responsive" style="width: 4%;"></span>3.gdhfgh fhdg vfh</p>
            <p> <span class="label"><img src="../../img/icon_right.png"  class="responsive" style="width: 4%;"></span> 4.fghd nfhgd vfhd</p>
            <p> <span class="label"><img src="../../img/icon_right.png"  class="responsive" style="width: 4%;"></span>5.hdghd fhgdf dvs</p>
        </ul>
    </div></div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="row">
      <!-- <div class="col-md-1"></div> -->
            <div class="col-md-8">
  <img src="../../img/gif/DashBoard.gif" class="responsive" style="border-radius: 25px;
  border-radius: 2px;
   border-style: solid;
  border-color: coral;
  border-width: thick;
  margin-left: 15%;
  height: 27rem;
  width: 46rem;">
  </div>
  <!-- <div class="col-md-1"></div> -->
  <div class="col-md-4">
      <h5 style="color: white">Dashboard</h5>
      <ul style="color: white">
        <p> <span class="label"><img src="../../img/icon_right.png"  class="responsive" style="width: 4%;"></span>Total Income from all sources</p> 
        <p> <span class="label"><img src="../../img/icon_right.png"  class="responsive" style="width: 4%;"></span>Sum of all Personal/Family Expenses</p>
        <p> <span class="label"><img src="../../img/icon_right.png"  class="responsive" style="width: 4%;"></span>Breakup of all Assets types, their current value
            with a Pie chart presentation</p>
        <p> <span class="label"><img src="../../img/icon_right.png"  class="responsive" style="width: 4%;"></span> Break up of all Short Term and Long Term
            Liabilities with a Pie chart presentation</p>
        <p> <span class="label"><img src="../../img/icon_right.png"  class="responsive" style="width: 4%;"></span>Networth at any given point in time</p>
        <p> <span class="label"><img src="../../img/icon_right.png"  class="responsive" style="width: 4%;"></span>Goals view with status in %age of goal
            achieved </p> 
      </ul>
  </div></div>
</ng-template>
<ng-template ngbSlide>
    <div class="row">
      <!-- <div class="col-md-1"></div> -->
            <div class="col-md-8">
  <img src="../../img/gif/Expense.gif" class="responsive" style="
 border-radius: 2px;
   border-style: solid;
  border-color: coral;
  border-width: thick ;
  margin-left: 15%;
  height: 27rem;
  width: 46rem;">
  </div>
  <!-- <div class="col-md-1"></div> -->
  <div class="col-md-4">
      <h5 style="color: white">Expense</h5>
      <ul style="color: white">
        <p> <span class="label"><img src="../../img/icon_right.png"  class="responsive" style="width: 4%;"></span>sadhejhd hfdsfh</p> 
        <p> <span class="label"><img src="../../img/icon_right.png"  class="responsive" style="width: 4%;"></span> 2.ghh hfdhf gfhfh</p>
        <p> <span class="label"><img src="../../img/icon_right.png"  class="responsive" style="width: 4%;"></span>3.gdhfgh fhdg vfh</p>
        <p> <span class="label"><img src="../../img/icon_right.png"  class="responsive" style="width: 4%;"></span> 4.fghd nfhgd vfhd</p>
        <p> <span class="label"><img src="../../img/icon_right.png"  class="responsive" style="width: 4%;"></span>5.hdghd fhgdf dvs</p>
      </ul>
  </div></div>
</ng-template>
<ng-template ngbSlide>
    <div class="row">
      <!-- <div class="col-md-1"></div> -->
            <div class="col-md-8">
  <img src="../../img/gif/Income.gif" class="responsive" style="
 border-radius: 2px;
   border-style: solid;
  border-color: coral;
  border-width: thick ;
  margin-left: 15%;
  height: 27rem;
  width: 46rem;">
  </div>
  <!-- <div class="col-md-1"></div> -->
  <div class="col-md-4">
      <h5 style="color: white">Income</h5>
      <ul style="color: white">
        <p> <span class="label"><img src="../../img/icon_right.png"  class="responsive" style="width: 4%;"></span>Details of Income from all sources</p> 
        <p> <span class="label"><img src="../../img/icon_right.png"  class="responsive" style="width: 4%;"></span>Any new source which are not predefined can
            be added by clicking Add button.</p>
        <p> <span class="label"><img src="../../img/icon_right.png"  class="responsive" style="width: 4%;"></span>Details of Expenses from each and every
            sources</p>
        <p> <span class="label"><img src="../../img/icon_right.png"  class="responsive" style="width: 4%;"></span> Included money paid as Premium, EMIs etc.</p>
        <p> <span class="label"><img src="../../img/icon_right.png"  class="responsive" style="width: 4%;"></span>All Insurances details with feature to upload
            related documents like Policy document.</p>
      </ul>
  </div></div>
</ng-template>
<ng-template ngbSlide>
    <div class="row">
      <!-- <div class="col-md-1"></div> -->
            <div class="col-md-8">
  <img src="../../img/gif/Assets.gif" class="responsive" style="border-radius: 2px;
  border-style: solid;
 border-color: coral;
 border-width: thick ;
 margin-left: 15%;
 height: 27rem;
 width: 46rem;">
  </div>
  <!-- <div class="col-md-1"></div> -->
  <div class="col-md-4">
      <h5 style="color: white">Assets</h5>
      <ul style="color: white">
        <p> <span class="label"><img src="../../img/icon_right.png"  class="responsive" style="width: 4%;"></span>Details of all Assets – Stocks, Mutual Funds, Saving
            Schemes, Cash, Properties, Jewelries etc.</p> 
        <p> <span class="label"><img src="../../img/icon_right.png"  class="responsive" style="width: 4%;"></span> Every day update of Mutual Fund NAV</p>
        <p> <span class="label"><img src="../../img/icon_right.png"  class="responsive" style="width: 4%;"></span>Auto fetch from source of Investment (upcoming)</p>
        <p> <span class="label"><img src="../../img/icon_right.png"  class="responsive" style="width: 4%;"></span>Details of Short term and Long Term Liabilities</p>
        <p> <span class="label"><img src="../../img/icon_right.png"  class="responsive" style="width: 4%;"></span>System automatically categorizes Liabilities</p>
      </ul>
  </div></div>
</ng-template>
<ng-template ngbSlide>
    <div class="row">
      <!-- <div class="col-md-1"></div> -->
            <div class="col-md-8">
  <img src="../../img/gif/Liabilities.gif" class="responsive" style="border-radius: 2px;
  border-style: solid;
 border-color: coral;
 border-width: thick ;
 margin-left: 15%;
 height: 27rem;
 width: 46rem;">
  </div>
  <!-- <div class="col-md-1"></div> -->
  <div class="col-md-4">
      <h5 style="color: white">Liabilities</h5>
      <u style="color: white">
         <p><span class="label"><img src="../../img/icon_right.png"  class="responsive" style="width: 4%;"></span> 1.sadhejhd hfdsfh</p> 
         <p><span class="label"><img src="../../img/icon_right.png"  class="responsive" style="width: 4%;"></span> 2.ghh hfdhf gfhfh</p>
         <p><span class="label"><img src="../../img/icon_right.png"  class="responsive" style="width: 4%;"></span> 3.gdhfgh fhdg vfh</p>
         <p><span class="label"><img src="../../img/icon_right.png"  class="responsive" style="width: 4%;"></span> 4.fghd nfhgd vfhd</p>
         <p><span class="label"><img src="../../img/icon_right.png"  class="responsive" style="width: 4%;"></span> 5.hdghd fhgdf dvs</p>
      </ul>
  </div></div>
</ng-template>
<ng-template ngbSlide>
    <div class="row">
      <!-- <div class="col-md-1"></div> -->
            <div class="col-md-8">
  <img src="../../img/risk.png"  class="responsive" style="border-radius: 2px;
  border-style: solid;
 border-color: coral;
 border-width: thick ;
 margin-left: 15%;
 height: 27rem;
 width: 46rem;">
  </div>
  <!-- <div class="col-md-1"></div> -->
  <div class="col-md-4">
      <h5 style="color: white">Risk</h5>
      <ul style="color: white">
         <p> <span class="label"><img src="../../img/icon_right.png"  class="responsive" style="width: 4%;"></span>sadhejhd hfdsfh</p> 
         <p> <span class="label"><img src="../../img/icon_right.png"  class="responsive" style="width: 4%;"></span> 2.ghh hfdhf gfhfh</p>
         <p> <span class="label"><img src="../../img/icon_right.png"  class="responsive" style="width: 4%;"></span>3.gdhfgh fhdg vfh</p>
         <p> <span class="label"><img src="../../img/icon_right.png"  class="responsive" style="width: 4%;"></span> 4.fghd nfhgd vfhd</p>
         <p> <span class="label"><img src="../../img/icon_right.png"  class="responsive" style="width: 4%;"></span>5.hdghd fhgdf dvs</p>
      </ul>
  </div></div>
</ng-template>
<ng-template ngbSlide>
    <div class="row">
      <!-- <div class="col-md-1"></div> -->
            <div class="col-md-8">
  <img src="../../img/appointment.png" class="responsive" style="border-radius: 2px;
  border-style: solid;
 border-color: coral;
 border-width: thick ;
 margin-left: 15%;
 height: 27rem;
 width: 46rem;">
  </div>
  <!-- <div class="col-md-1"></div> -->
  <div class="col-md-4">
      <h5 style="color: white">Appointment</h5>
      <ul style="color: white">
        <p> <span class="label"><img src="../../img/icon_right.png"  class="responsive" style="width: 4%;"></span>sadhejhd hfdsfh</p> 
        <p> <span class="label"><img src="../../img/icon_right.png"  class="responsive" style="width: 4%;"></span> 2.ghh hfdhf gfhfh</p>
        <p> <span class="label"><img src="../../img/icon_right.png"  class="responsive" style="width: 4%;"></span>3.gdhfgh fhdg vfh</p>
        <p> <span class="label"><img src="../../img/icon_right.png"  class="responsive" style="width: 4%;"></span> 4.fghd nfhgd vfhd</p>
        <p> <span class="label"><img src="../../img/icon_right.png"  class="responsive" style="width: 4%;"></span>5.hdghd fhgdf dvs</p>
      </ul>
  </div></div>
</ng-template>
</ngb-carousel>
