
    <section id="services">
            <div class="overlay-white bg-img4"></div>
            <div class="container text-center">
              <div class="row">
                <div class="col-lg-12 col-lg-offset-2">
                  <h3 style="color:#f1592a">How IT Works</h3>
<ngb-carousel *ngIf="images">
  <ng-template ngbSlide>
      <div class="row">
        <!-- <div class="col-md-1"></div> -->
              <div class="col-md-6">
    <img src="../../img/home.png" style="border-radius: 25px;
    border: 2px solid #2E3192;
    padding: 20px; 
    width: relative;
    height: relative">
    </div>
    <!-- <div class="col-md-1"></div> -->
    <div class="col-md-6">
        <h5>Home</h5>
        <ul>
           <p> 1.sadhejhd hfdsfh</p> 
           <p> 2.ghh hfdhf gfhfh</p>
           <p> 3.gdhfgh fhdg vfh</p>
           <p> 4.fghd nfhgd vfhd</p>
           <p> 5.hdghd fhgdf dvs</p>
        </ul>
    </div></div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="row">
      <!-- <div class="col-md-1"></div> -->
            <div class="col-md-6">
  <img src="../../img/dashboard.png" style="border-radius: 25px;
  border: 2px solid #2E3192;
  padding: 20px; 
  width: relative;
  height: relative">
  </div>
  <!-- <div class="col-md-1"></div> -->
  <div class="col-md-6">
      <h5>Dashboard</h5>
      <ul>
         <p> 1.sadhejhd hfdsfh</p> 
         <p> 2.ghh hfdhf gfhfh</p>
         <p> 3.gdhfgh fhdg vfh</p>
         <p> 4.fghd nfhgd vfhd</p>
         <p> 5.hdghd fhgdf dvs</p>
      </ul>
  </div></div>
</ng-template>
<ng-template ngbSlide>
    <div class="row">
      <!-- <div class="col-md-1"></div> -->
            <div class="col-md-6">
  <img src="../../img/profile.png" style="border-radius: 25px;
  border: 2px solid #2E3192;
  padding: 20px; 
  width: relative;
  height: relative">
  </div>
  <!-- <div class="col-md-1"></div> -->
  <div class="col-md-6">
      <h5>Profile</h5>
      <ul>
         <p> 1.sadhejhd hfdsfh</p> 
         <p> 2.ghh hfdhf gfhfh</p>
         <p> 3.gdhfgh fhdg vfh</p>
         <p> 4.fghd nfhgd vfhd</p>
         <p> 5.hdghd fhgdf dvs</p>
      </ul>
  </div></div>
</ng-template>
<ng-template ngbSlide>
    <div class="row">
      <!-- <div class="col-md-1"></div> -->
            <div class="col-md-6">
  <img src="../../img/expense.png" style="border-radius: 25px;
  border: 2px solid #2E3192;
  padding: 20px; 
  width: relative;
  height: relative">
  </div>
  <!-- <div class="col-md-1"></div> -->
  <div class="col-md-6">
      <h5>Expense</h5>
      <ul>
         <p> 1.sadhejhd hfdsfh</p> 
         <p> 2.ghh hfdhf gfhfh</p>
         <p> 3.gdhfgh fhdg vfh</p>
         <p> 4.fghd nfhgd vfhd</p>
         <p> 5.hdghd fhgdf dvs</p>
      </ul>
  </div></div>
</ng-template>
<ng-template ngbSlide>
    <div class="row">
      <!-- <div class="col-md-1"></div> -->
            <div class="col-md-6">
  <img src="../../img/assets.png" style="border-radius: 25px;
  border: 2px solid #2E3192;
  padding: 20px; 
  width: relative;
  height: relative">
  </div>
  <!-- <div class="col-md-1"></div> -->
  <div class="col-md-6">
      <h5>Assets</h5>
      <ul>
         <p> 1.sadhejhd hfdsfh</p> 
         <p> 2.ghh hfdhf gfhfh</p>
         <p> 3.gdhfgh fhdg vfh</p>
         <p> 4.fghd nfhgd vfhd</p>
         <p> 5.hdghd fhgdf dvs</p>
      </ul>
  </div></div>
</ng-template>
<ng-template ngbSlide>
    <div class="row">
      <!-- <div class="col-md-1"></div> -->
            <div class="col-md-6">
  <img src="../../img/liability.png" style="border-radius: 25px;
  border: 2px solid #2E3192;
  padding: 20px; 
  width: relative;
  height: relative">
  </div>
  <!-- <div class="col-md-1"></div> -->
  <div class="col-md-6">
      <h5>Liability</h5>
      <ul>
         <p> 1.sadhejhd hfdsfh</p> 
         <p> 2.ghh hfdhf gfhfh</p>
         <p> 3.gdhfgh fhdg vfh</p>
         <p> 4.fghd nfhgd vfhd</p>
         <p> 5.hdghd fhgdf dvs</p>
      </ul>
  </div></div>
</ng-template>
<ng-template ngbSlide>
    <div class="row">
      <!-- <div class="col-md-1"></div> -->
            <div class="col-md-6">
  <img src="../../img/goals.png" style="border-radius: 25px;
  border: 2px solid #2E3192;
  padding: 20px; 
  width: relative;
  height: relative">
  </div>
  <!-- <div class="col-md-1"></div> -->
  <div class="col-md-6">
      <h5>Goals</h5>
      <ul>
         <p> 1.sadhejhd hfdsfh</p> 
         <p> 2.ghh hfdhf gfhfh</p>
         <p> 3.gdhfgh fhdg vfh</p>
         <p> 4.fghd nfhgd vfhd</p>
         <p> 5.hdghd fhgdf dvs</p>
      </ul>
  </div></div>
</ng-template>
<ng-template ngbSlide>
    <div class="row">
      <!-- <div class="col-md-1"></div> -->
            <div class="col-md-6">
  <img src="../../img/risk.png" style="border-radius: 25px;
  border: 2px solid #2E3192;
  padding: 20px; 
  width: relative;
  height: relative">
  </div>
  <!-- <div class="col-md-1"></div> -->
  <div class="col-md-6">
      <h5>Risk</h5>
      <ul>
         <p> 1.sadhejhd hfdsfh</p> 
         <p> 2.ghh hfdhf gfhfh</p>
         <p> 3.gdhfgh fhdg vfh</p>
         <p> 4.fghd nfhgd vfhd</p>
         <p> 5.hdghd fhgdf dvs</p>
      </ul>
  </div></div>
</ng-template>
<ng-template ngbSlide>
    <div class="row">
      <!-- <div class="col-md-1"></div> -->
            <div class="col-md-6">
  <img src="../../img/appointment.png" style="border-radius: 25px;
  border: 2px solid #2E3192;
  padding: 20px; 
  width: relative;
  height: relative">
  </div>
  <!-- <div class="col-md-1"></div> -->
  <div class="col-md-6">
      <h5>Appointment</h5>
      <ul>
         <p> 1.sadhejhd hfdsfh</p> 
         <p> 2.ghh hfdhf gfhfh</p>
         <p> 3.gdhfgh fhdg vfh</p>
         <p> 4.fghd nfhgd vfhd</p>
         <p> 5.hdghd fhgdf dvs</p>
      </ul>
  </div></div>
</ng-template>
</ngb-carousel>
