<div *ngIf="LoggedIn">
    <div >
        <div class="container">
            <div class="form-group row justify-content-md-center colored bwtitle">
                    <span class="animated zoomIn">Risk Management</span> 
            </div>
            <mat-accordion>
                <mat-expansion-panel class="accordcol"   
                    (opened)="panelLifeState = true"
                    (closed)="panelLifeState = false">
                    <mat-expansion-panel-header class="accordcol right-aligned-header">
                        <mat-panel-title class="bwaccordtitle">Life Insurance</mat-panel-title>
                        <mat-panel-description class="bwaccordtitle">
                                {{panelLifeState ? 'Collapse' : 'Expand'}}
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <jhi-life-insurance></jhi-life-insurance>
                </mat-expansion-panel>&nbsp;
                <mat-expansion-panel class="accordcolor"  
                    (opened)="panelMedicleState = true"
                    (closed)="panelMedicleState = false">
                    <mat-expansion-panel-header  class="accordcolor right-aligned-header">
                        <mat-panel-title class="bwaccordtitle"> Medical Insurance</mat-panel-title>
                        <mat-panel-description class="bwaccordtitle">
                                {{panelMedicleState ? 'Collapse' : 'Expand'}}
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <jhi-medical-insurance></jhi-medical-insurance>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
    </div>
    
</div>