<jhi-page-ribbon></jhi-page-ribbon>
<div>
    <router-outlet name="navbar"></router-outlet>
</div>

<br><br><br>


<div [ngSwitch]="isAuthenticated()">
    <div *ngSwitchCase="false">
            <router-outlet></router-outlet>
            <router-outlet name="popup"></router-outlet>
            <jhi-footer></jhi-footer>
    </div>
    <div *ngSwitchCase="true">
        <div id="toggle" class="toggleClass" [ngClass]="{'pull':flag}">
            <jhi-sidebar *ngIf="isPaid"></jhi-sidebar>
            <router-outlet></router-outlet>
            <router-outlet name="popup"></router-outlet>
        </div>
    </div>
</div>