<div class="container">
        <div [ngSwitch]="isAuthenticated()">
            <div *ngSwitchCase="true">                  
                        <div class="form-group row justify-content-center bwtitle">
                                <span class="animated zoomIn">Profile</span>
                        </div>
                            <mat-accordion class="container" >
                                <mat-expansion-panel class="accordcol"
                                (opened)="panelMyprofileState = true"
                                (closed)="panelMyprofileState = false">
                                    <mat-expansion-panel-header class="accordcol right-aligned-header">
                                        <mat-panel-title class="bwaccordtitle" >
                                            <h5>My Profile</h5>
                                        </mat-panel-title>
                                        <mat-panel-description class="bwaccordtitle setmarginfuture">
                                                {{panelMyprofileState ? 'Collapse' : 'Expand'}}
                                        </mat-panel-description>
                                    </mat-expansion-panel-header>
                                    <jhi-myprofile></jhi-myprofile>
                                </mat-expansion-panel>
                            &nbsp;
                                <mat-expansion-panel class="accordcolor"
                                (opened)="panelFamilyprofileState = true"
                                (closed)="panelFamilyprofileState = false">
                                    <mat-expansion-panel-header class="accordcolor right-aligned-header">
                                        <mat-panel-title class="bwaccordtitle">
                                        <h5>Family Profile</h5>
                                        </mat-panel-title>
                                        <mat-panel-description class="bwaccordtitle setmarginfamilyprofile">
                                            {{panelFamilyprofileState ? 'Collapse' : 'Expand'}}
                                        </mat-panel-description>
                                    </mat-expansion-panel-header>
                                    <jhi-familyprofile></jhi-familyprofile>
                                </mat-expansion-panel>
                            </mat-accordion>
            </div>
            <!-- <div class="alert alert-warning" *ngSwitchCase="false">
                <img src="../Assests/oops.jpg" style="height:500px;width:500px"><br>
                <span>Oops you are not Signed In </span>
                Please <a class="alert-link" (click)="login()">Click here</a><span> to sign-in now.</span>
            </div> -->
            <div *ngSwitchCase="false" class="form-group row justify-content-center">

                    <mat-card class="example-card">
                            
                            <mat-card-content class="example-card" class="shadow">
                                   
                                    <span>Oops you are not Signed In </span>
                                    Please <a class="alert-link" (click)="login()">Click here</a><span> to sign-in now.</span>
                            </mat-card-content>
                    </mat-card>
        
                </div>
            <br>
        </div>
</div>
