<div class="container">
    <div>
        <div [ngSwitch]="isAuthenticated()">
            <div *ngSwitchCase="true">
                <div class="container">                   
                        <div class="form-group row justify-content-center bwtitle">Profile
                        </div>
                        <mat-accordion  class="container" >
                            <mat-accordion>
                                <mat-expansion-panel class="accordcol">
                                    <mat-expansion-panel-header class="accordcol">
                                        <mat-panel-title class="bwaccordtitle" >
                                            <h5>My Profile</h5>
                                        </mat-panel-title>
                                        <mat-panel-description class="bwaccordtitle">
                                        Fill your Profile here
                                        </mat-panel-description>
                                    </mat-expansion-panel-header>
                                    <jhi-myprofile></jhi-myprofile>
                                </mat-expansion-panel>
                            &nbsp;
                                <mat-expansion-panel>
                                    <mat-expansion-panel-header class="accordcolor">
                                        <mat-panel-title class="bwaccordtitle">
                                        <h5>Family Profile</h5>
                                        </mat-panel-title>
                                        <mat-panel-description cclass="bwaccordtitle"> 
                                            Fill your  Family Profile here
                                        </mat-panel-description>
                                    </mat-expansion-panel-header>
                                    <jhi-familyprofile></jhi-familyprofile>
                                </mat-expansion-panel>
                            </mat-accordion>
                        </mat-expansion-panel>
                    </mat-accordion>
                </div>
            </div>
            <!-- <div class="alert alert-warning" *ngSwitchCase="false">
                <img src="../Assests/oops.jpg" style="height:500px;width:500px"><br>
                <span>Oops you are not Signed In </span>
                Please <a class="alert-link" (click)="login()">Click here</a><span> to sign-in now.</span>
            </div> -->
            <div *ngSwitchCase="false" class="form-group row justify-content-center">

                    <mat-card class="example-card">
                            
                            <mat-card-content class="example-card" class="shadow">
                                   
                                    <span>Oops you are not Signed In </span>
                                    Please <a class="alert-link" (click)="login()">Click here</a><span> to sign-in now.</span>
                            </mat-card-content>
                    </mat-card>
        
                </div>
            <br>
        </div>
    </div>
</div>
