<div class="container">

    <div>
        <div class="form-group row justify-content-center bwtitle">
            <span class="animated zoomIn">Profile</span>
        </div>
        <mat-accordion class="container">
            <mat-expansion-panel class="accordcol" (opened)="panelMyprofileState = true" (closed)="panelMyprofileState = false">
                <mat-expansion-panel-header class="accordcol right-aligned-header">
                    <mat-panel-title class="bwaccordtitle">
                        <h5 class="bwaccordtitle">My Profile</h5>
                    </mat-panel-title>
                    <mat-panel-description class="bwaccordtitle setmarginfuture">
                        {{panelMyprofileState ? 'Collapse' : 'Expand'}}
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <jhi-myprofile></jhi-myprofile>
            </mat-expansion-panel>
            &nbsp;
            <mat-expansion-panel class="accordcolor" (opened)="panelFamilyprofileState = true" (closed)="panelFamilyprofileState = false">
                <mat-expansion-panel-header class="accordcolor right-aligned-header">
                    <mat-panel-title class="bwaccordtitle">
                        <h5 class="bwaccordtitle">Family Profile</h5>
                    </mat-panel-title>
                    <mat-panel-description class="bwaccordtitle setmarginfamilyprofile">
                        {{panelFamilyprofileState ? 'Collapse' : 'Expand'}}
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <jhi-familyprofile></jhi-familyprofile>
            </mat-expansion-panel>
            &nbsp;
            <mat-expansion-panel class="accordcolor" (opened)="panelFamilyprofileState = true" (closed)="panelFamilyprofileState = false">
                <mat-expansion-panel-header class="accordcolor right-aligned-header">
                    <mat-panel-title class="bwaccordtitle">
                        <h5 class="bwaccordtitle">Account Profile</h5>
                    </mat-panel-title>
                    <mat-panel-description class="bwaccordtitle setmarginfamilyprofile">
                        {{panelFamilyprofileState ? 'Collapse' : 'Expand'}}
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <jhi-accountprofile></jhi-accountprofile>
            </mat-expansion-panel>
        </mat-accordion>
    </div>

    <br>
</div>