<div *ngIf="!valid">
    <div class="card">
        <div>
                <div class="row pull-right">
            <button type="button" class="btn btn-link" (click)="onGrossSave()" [disabled]="!universalflag">
                <span>
                        <fa-icon [icon]="'save'"></fa-icon>
                <span> Save</span>
                </span>
            </button>
            <button type="button" (click)="resetGross()" class="btn btn-link">
                <span>
                <i class="fas fa-sync fa-spin" aria-hidden="true"></i>
                <span> Reset</span>
                </span>
            </button>
            <button type="button" class="btn btn-link">
                <span>
                <i class="fa fa-info" aria-hidden="true"></i>
                <span> Help</span>
                </span>
            </button>
        </div></div></div>
        <div class="header">
            Income from salaries (Per Annum)
        </div>
        <!-- <div class="card-body"> -->
            <table class="table-responsive-md table table-hover table-sm">
                <thead class="thead-light">
                    <tr>
                            <!--Head of table start-->
                        <th scope="col">Name</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                        <th scope="col">Amount</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td scope="row">Basic Salary</td>
                        <td></td>
                        <td></td>
                        <td>
                            <input jhiNumberOnly type="number" name="bsalary" [(ngModel)]="gross.bsalary"(ngModelChange)="FindValue($event)">
                            
                        </td>
                    </tr>
                    <tr>
                        <td scope="row">DA</td>
                        <td></td>
                        <td></td>
                        <td>
                            <input type="number"  name="da" [(ngModel)]="gross.da"(ngModelChange)="FindValue($event)">
                        </td>
                    </tr>
                    <tr>
                        <td scope="row">HRA</td>
                        <td></td>
                        <td></td>
                        <td>
                            <input type="number" value="0" name="hra" [(ngModel)]="gross.hra"(ngModelChange)="FindValue($event)">
                        </td>
                    </tr>
                    <tr>
                        <td scope="row">Conveyance</td>
                        <td></td>
                        <td></td>
                        <td>
                            <input type="number" value="0" name="conveyance" [(ngModel)]="gross.conveyance"(ngModelChange)="FindValue($event)">
                        </td>
                    </tr>
                    <tr>
                        <td scope="row">Children Education</td>
                        <td></td>
                        <td></td>
                        <td>
                            <input type="number" value="0" name="childedu" [(ngModel)]="gross.childedu"(ngModelChange)="FindValue($event)">
                        </td>
                    </tr>
                    <tr>
                        <td scope="row">Medical</td>
                        <td></td>
                        <td></td>
                        <td>
                            <input type="number" value="0" name="medical" [(ngModel)]="gross.medical"(ngModelChange)="FindValue($event)">
                        </td>
                    </tr>
                    <tr>
                        <td scope="row">LTA</td>
                        <td></td>
                        <td></td>
                        <td>
                            <input type="number" value="0" name="lta" [(ngModel)]="gross.lta"(ngModelChange)="FindValue($event)">
                        </td>
                    </tr>
                    <tr>
                        <td scope="row">Other Allownces</td>
                        <td></td>
                        <td></td>
                        <td>
                            <input type="number" value="0" name="otherallown" [(ngModel)]="gross.otherallown"(ngModelChange)="FindValue($event)">
                        </td>
                    </tr>
                    <tr>
                        <td scope="row">Bonus</td>
                        <td></td>
                        <td></td>
                        <td>
                            <input type="number" value="0" name="bonus" [(ngModel)]="gross.bonus"(ngModelChange)="FindValue($event)">
                        </td>
                    </tr>
                </tbody>
            </table>
    <br>
    <!-- <div class="card"> -->
        <div class="header">
        Income from House Properties
        </div>
        <!-- <div class="card-body"> -->
            <table class="table-responsive-md table table-hover table-sm">
                <thead class="thead-light">
                    <tr>
                        <!--Head of table start-->
                        <th scope="col">Name</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                        <th scope="col">Amount</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td scope="row">Rental Income</td>
                        <td></td>
                        <td></td>
                        
                        <td>
                        <input type="number" value="0" name="rentincome" [(ngModel)]="gross.rentincome"(ngModelChange)="FindValue($event)">
                        </td>
                    </tr>
                </tbody>
            </table>
    <!-- <div class="card"> -->
        <div class="header">Income from other Sources
        </div>
        <!-- <div class="card-body"> -->
            <table class="table-responsive-md table table-hover table-sm">
                <thead class="thead-light"><!--Head of table start-->
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                        <th scope="col">Amount</th>
                    </tr>
                </thead><!--Head of table end-->
                <tbody>
                <!--Body of table start-->
                <tr>
                    <td scope="row">interest From Saving(FD,RD etc)</td>
                    <td></td>
                    <td></td>
                    <td>
                        <input type="number" value="0" name="saving" [(ngModel)]="gross.saving"(ngModelChange)="FindValue($event)">
                    </td>
                </tr>
                <tr>
                    <td scope="row">Interest From Bonds</td>
                    <td></td>
                    <td></td>
                    <td>
                        <input type="number" value="0" name="bonds" [(ngModel)]="gross.bonds"(ngModelChange)="FindValue($event)">
                    </td>
                </tr>
                <tr>
                    <td scope="row">Conveyance</td>
                    <td></td>
                    <td></td>
                    <td>
                        <input type="number" value="0" name="conveyanceother" [(ngModel)]="gross.conveyanceother"(ngModelChange)="FindValue($event)">
                    </td>
                </tr>
            </tbody><!--Body of table end-->
        </table>           
      </div>
<!-- modal, edit dialog -->
<div *ngIf="valid">
    <ng-template #grossEditContent let-c="close" let-d="dismiss">
        <div class="modal-header">
            <h4 class="modal-title" id="grossEditContent">Gross Add</h4>
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form class="example-container" #grossAdd="ngForm">
                <div>
                    <mat-label>{{ nameField }}</mat-label>
                </div>
                <div>
                    <mat-form-field class="example-full-width">
                        <input matInput jhiNumberOnly required placeholder="Amount" type="number" value="" [(ngModel)]="editField" name="amount-name" (ngModelChange)="DetectChange($event)" >
                        <mat-hint>Please enter amount</mat-hint>
                    </mat-form-field>
                </div><br> <br>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-success" (click)="c('Save click')" [disabled]="!isFieldChange">Update</button>
                </div>
            </form>
        </div>
    </ng-template>
    <div *ngFor="let output of output">
        <div class="card">
            <div class="card-header">
              Income from salaries (Per Annum)
            </div></div>
            <!-- <div class="float-right" style="margin-left: 800px;"> -->
                <div>
                        <div class="row pull-right">
                <button type="button" (click)="updateGross()" [disabled]="!globalflag" class="btn btn-link">
                    <fa-icon [icon]="'save'"></fa-icon> 
                    <span>Update</span>
                </button>
            </div></div>
            <div class="card-body">
                <table class="table table-hover table-sm" >
                    <thead class="thead-light">
                        <tr>
                            <!--Head of table start-->
                            <th scope="col">Name</th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                            <th scope="col">Amount</th>
                        </tr>
                    </thead>
                    <tbody><!--Body of table start-->
                        <tr>
                            <td scope="row">Basic Salary</td>
                            <td></td>
                            <td></td>
                            <td>
                            {{output.bsalary}}
                            </td>
                        <button class="btn btn-outline-info"  type="button" (click)="onEditGrossField('bsalary', grossEditContent)" >
                                <span> <fa-icon [icon]="'edit'"></fa-icon></span></button>
                                
                        </tr>
                        <tr>
                            <td scope="row">DA</td>
                            <td></td>
                            <td></td>
                            <td>
                            {{output.da}}
                            </td>
                            <button class="btn btn-outline-info"  type="button" (click)="onEditGrossField('da', grossEditContent)" >
                                <span> <fa-icon [icon]="'edit'"></fa-icon></span></button>
                        </tr>
                        <tr>
                            <td scope="row">HRA</td>
                            <td>
                            <!-- <input type="checkbox"> -->
                            </td>
                            <td></td>
                            <td>{{output.hra}}</td>
                            <button class="btn btn-outline-info"  type="button" (click)="onEditGrossField('hra', grossEditContent)" >
                                <span> <fa-icon [icon]="'edit'"></fa-icon></span></button>
                        </tr>
                        <tr>
                            <td scope="row">Conveyance</td>
                            <td></td>
                            <td></td>
                            <td>{{output.conveyance}}</td>
                            <button class="btn btn-outline-info"  type="button" (click)="onEditGrossField('convey', grossEditContent)" >
                                <span> <fa-icon [icon]="'edit'"></fa-icon></span></button>
                        </tr>
                        <tr>
                            <td scope="row">Children Education</td>
                            <td></td>
                            <td></td>
                            <td>
                            {{output.childedu}}                           
                            </td>
                            <button class="btn btn-outline-info"  type="button" (click)="onEditGrossField('ce', grossEditContent)" >
                                <span> <fa-icon [icon]="'edit'"></fa-icon></span></button>
                        </tr>
                        <tr>
                            <td scope="row">Medical</td>
                            <td></td>
                            <td></td>
                            <td>
                            {{output.medical}}
                            </td>
                            <button class="btn btn-outline-info"  type="button" (click)="onEditGrossField('med', grossEditContent)" >
                                <span> <fa-icon [icon]="'edit'"></fa-icon></span></button>
                        </tr>
                        <tr>
                            <td scope="row">LTA</td>
                            <td></td>
                            <td></td>
                            <td>{{output.lta}}</td>
                            <button class="btn btn-outline-info"  type="button" (click)="onEditGrossField('lta', grossEditContent)" >
                                <span> <fa-icon [icon]="'edit'"></fa-icon></span></button>
                        </tr>
                        <tr>
                            <td scope="row">Other Allownces</td>
                            <td></td>
                            <td></td>
                            <td>
                            {{output.otherallown}}
                            </td>
                            <button class="btn btn-outline-info"  type="button" (click)="onEditGrossField('oa', grossEditContent)" >
                                <span> <fa-icon [icon]="'edit'"></fa-icon></span></button>
                        </tr>
                        <tr>
                            <td scope="row">Bonus</td>
                            <td></td>
                            <td></td>
                            <td>
                            {{output.bonus}}
                            </td>
                            <button class="btn btn-outline-info"  type="button" (click)="onEditGrossField('bonus', grossEditContent)" >
                                <span> <fa-icon [icon]="'edit'"></fa-icon></span></button>
                        </tr>
                    </tbody>
                </table>
            </div>
        <br>
        <div class="card">
            <div class="card-header">Income from House Properties
            </div>
            <div class="card-body">
                <table class="table table-hover table-sm">
                    <thead class="thead-light">
                        <tr>
                            <!--Head of table start-->
                            <th scope="col">Name</th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                            <th scope="col">Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td scope="row">Rental Income</td>
                            <td></td>
                            <td></td>
                            <td>
                            {{output.rentincome}}
                            </td>
                            <button class="btn btn-outline-info"  type="button" (click)="onEditGrossField('rent', grossEditContent)" >
                                <span> <fa-icon [icon]="'edit'"></fa-icon></span></button>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div><br>
        <div  class="card">
            <div class="card-header">
              Income from other Sources
            </div>
            <div class="card-body">
                <table class="table table-hover table-sm" >
                    <thead class="thead-light">
                        <tr>
                            <!--Head of table start-->
                            <th scope="col">Name</th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                            <th scope="col">Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td scope="row">interest From Saving(FD,RD etc)</td>
                            <td></td>
                            <td></td>
                            <td>
                            {{output.saving}}
                            </td>
                            <button class="btn btn-outline-info"  type="button" (click)="onEditGrossField('saving', grossEditContent)" >
                                <span> <fa-icon [icon]="'edit'"></fa-icon></span></button>
                        </tr>
                        <tr>
                            <td scope="row">Interest From Bonds</td>
                            <td></td>
                            <td></td>
                            <td>
                            {{output.bonds}}
                            </td>
                            <button class="btn btn-outline-info"  type="button" (click)="onEditGrossField('bonds', grossEditContent)" >
                                <span> <fa-icon [icon]="'edit'"></fa-icon></span></button>
                        </tr>
                        <tr>
                            <td scope="row">Conveyance</td>
                            <td></td>
                            <td></td>
                            <td>
                            {{output.conveyanceother}}
                            </td>
                            <button class="btn btn-outline-info"  type="button" (click)="onEditGrossField('conveyance', grossEditContent)" >
                                <span> <fa-icon [icon]="'edit'"></fa-icon></span></button>
                        </tr>
                    </tbody>
                </table>
            </div>
            