<div>
    <h4>Recommendation</h4>
    <div>
        <div class="row pull-right">
            <span [ngSwitch]="isRecommendData" class="btn-right">
                <p *ngSwitchCase="'ROLE_ADVISOR'">
                    <button type="button" class="btn btn-sm  btn-link" (click)="saveTaxRecommendation()">
                        <fa-icon [icon]="'save'"></fa-icon>
                        <span>Add</span>
                    </button>
                </p>
            </span>
        </div>
    </div>
    <table class="table table-bordered table-striped table-responsive-md" style="align-content: text-center">
        <thead>
            <tr>
                <td scope="col" style="width: 50px;">Sr.No.</td>
                <td scope="col" style="width: 700px;">Recommendation</td>
                <td scope="col" style="width: 150px;">Date</td>
                <td scope="col" style="width: 100px;" *ngIf="authority === 'ROLE_USER'">status</td>
                <td scope="col" style="width: 100px;" *ngIf="authority === 'ROLE_ADVISOR'">status</td>
                <td scope="col" style="width: 200px;">user comments
                </td>
                <td scope="col" style="width: 130px;">Action</td>
            </tr>
        </thead>
        <tbody *ngIf="recommend.length === 0">
            <tr *ngFor="let recmd of recommend; index as i">
                <td>{{i+1}}</td>
                <td>{{ recmd.reco }}</td>
                <td>{{ recmd.recodate | date: 'dd-MM-yyyy'}}</td>
                <td *ngIf="authority === 'ROLE_USER'">
                    <mat-checkbox class="col-4" [disabled]="recmd.reject" [(ngModel)]="recmd.approve">Approve
                    </mat-checkbox>
                    <mat-checkbox class="col-4" [disabled]="recmd.approve" [(ngModel)]="recmd.reject">Reject
                    </mat-checkbox>
                </td>
                <td *ngIf="authority === 'ROLE_ADVISOR'">
                    <mat-checkbox class="col-4" [disabled]="authority === 'ROLE_ADVISOR'" [(ngModel)]="recmd.approve">
                        Approve
                    </mat-checkbox>
                    <mat-checkbox class="col-4" [disabled]="authority === 'ROLE_ADVISOR'" [(ngModel)]="recmd.reject">
                        Reject
                    </mat-checkbox>
                </td>
                <td *ngIf="authority === 'ROLE_USER'">
                    <mat-form-field>
                        <textarea [disabled]="recmd.edit === true" matInput [(ngModel)]="recmd.usercomment"
                            placeholder="Leave a comment"></textarea>
                    </mat-form-field>
                </td>
                <td *ngIf="authority === 'ROLE_ADVISOR'">
                    <mat-form-field>
                        <textarea [disabled]="authority === 'ROLE_ADVISOR'" [disabled]="recmd.edit === true" matInput
                            [(ngModel)]="recmd.usercomment" placeholder="Leave a comment"></textarea>
                    </mat-form-field>
                </td>

                <td style="cursor: pointer;" *ngIf="authority === 'ROLE_USER'">
                    <button *ngIf="!recmd.edit" class="btn btn-sm btn-outline-info" type="button"
                        (click)="saveUserComment(recmd)">
                        <span>
                            <fa-icon [icon]="'save'"></fa-icon>
                        </span>
                    </button>
                    <button *ngIf="recmd.edit" class="btn btn-sm btn-outline-info" type="button"
                        (click)="updateUserComment(recmd)">
                        <span>
                            <fa-icon [icon]="'edit'"></fa-icon>
                        </span>
                    </button>
                    <button class="btn btn-sm btn btn-outline-danger" (click)="removeByUser(recmd)">
                        <span>
                            <fa-icon [icon]="'trash'"></fa-icon></i>
                        </span>
                    </button>
                </td>
                <td *ngIf="authority === 'ROLE_ADVISOR'">
                    <button class="btn btn-sm btn-outline-info" type="button" (click)="updateTaxRecommendation(recmd)">
                        <span>
                            <fa-icon [icon]="'edit'"></fa-icon>
                        </span>
                    </button>
                    <button class="btn btn-sm btn btn-outline-danger" (click)="remove(recmd.id)">
                        <span>
                            <fa-icon [icon]="'trash'"></fa-icon></i>
                        </span>
                    </button>
                </td>
            </tr>
        </tbody>
        <tbody *ngIf="recommend.length === 0">
            <tr>
                <td colspan="6">
                    No Recommendation Available
                </td>
            </tr>
        </tbody>
    </table>
</div>