

    <header class="img14 intro" style="margin-top: -32px;">
      <div class="intro-body">
        <h2 style="margin-left:100px; margin-bottom: 500px">One Stop Solution for <br>All Your Financial Needs
         <br> <button style="height: 40px;width: 133px; font-size: 15px;" class="btn-general btn-home" type="button"  routerLink="/register">Get Started</button>
        </h2>
        <!-- <h1 class="zoomInDown animated" >Buckswise
          <span class="badge hidden-sm hidden-xs ">finance</span>
        </h1> -->
        <!-- <div data-wow-delay="1s" class="scroll-btn wow fadeInDown">
          <a routerLink="how" href="#">
          <span class="mouse">
            <span class="weel">
              <span></span>
            </span>
          </span>
          </a>
        </div> -->
       
        <!--this code is for add offer in header page--start-->
      <!-- <main>
            <div id="container">
              <form action="">
                <img src="../../../content/images/ny.jpg"><br><br> -->
                <!-- <input type="text" value="@AmJustSam"><br> -->
                <!-- <input type="password"><br> -->
                <!-- <span><a href="#">Happy New Year</a></span> -->
                <!-- <h3>New Year Offer 25% OFF </h3>
                <input type="submit" value="SUBSCRIBE NOW" [routerLink]="['/subscription']" routerLinkActive="router-link-active"  > <br>
                <span class="promocode"> APPLY PROMOCODE  <strong> " BWNY25 "</strong></span>

                <br>

              </form>
            </div>
            </main> -->
             <!--this code is for add offer in header page--end-->
      </div>
    </header>
