

    <header class="img14 intro" style="margin-top: -52px;">
      <div class="intro-body">
        <h5 style="margin-left:10px;">One Stop Solution for <br>All Your Financial Needs
        </h5>
        <button style="margin-left:10px;background-color:#f1592a" type="button" class="btn btn-outline-dark" >Get Started</button>
        <!-- <h1 class="zoomInDown animated" >Buckswise
          <span class="badge hidden-sm hidden-xs ">finance</span>
        </h1> -->
        <!-- <div data-wow-delay="1s" class="scroll-btn wow fadeInDown">
          <a routerLink="how" href="#">
          <span class="mouse">
            <span class="weel">
              <span></span>
            </span>
          </span>
          </a>
        </div> -->
      </div>
    </header>
