

    <header class="img14 intro" style="margin-top: -32px;">
      <div class="intro-body">
        <h2 style="margin-left:100px;">One Stop Solution for <br>All Your Financial Needs
        </h2>
        <button style="margin-left:100px;background-color:#f1592a;color: white" type="button"  routerLink="/register">Get Started</button>
        <!-- <h1 class="zoomInDown animated" >Buckswise
          <span class="badge hidden-sm hidden-xs ">finance</span>
        </h1> -->
        <!-- <div data-wow-delay="1s" class="scroll-btn wow fadeInDown">
          <a routerLink="how" href="#">
          <span class="mouse">
            <span class="weel">
              <span></span>
            </span>
          </span>
          </a>
        </div> -->
      </div>
    </header>
