.carousel-inner .item {
    white-space: nowrap;
    font-size: 0;
    width: 100%;
}
.carousel-inner a {
    display: inline-block;
    font-size: 0rem;
    width: 20%;
}
.carousel-inner img {
    width: 100%;
    height: auto;
    display: block;
}
.a {
    width: 180;
    height: 70px;
    background-color: white;
    background-size: cover;
    background-origin: padding-box;
    border-color: black;
    border: 5px;
}
