<!-- <div class="container"> -->
  <h2 mat-dialog-title class="bwtitle text-center">File Upload</h2>
  <mat-dialog-content class="mat-typography">
  <div class="row">
    <div class="col-md-5">
      <mat-form-field style="max-width: 80%">
        <input matInput [(ngModel)]="data.name" placeholder="Type Document Name">
      </mat-form-field>
    </div>

    <div class="col-md-4">
      <input type="file" (change)="onFileSelected($event)" style="margin-top: 16px;"><br>
    </div>
  </div>

  <!-- <div class="text-center">
    <div class="btn btn-outline-warning">
      <a class="btn btn-primary" href="{{driveLink}}" onclick="window.open(this.href, 'windowName', 'width=500, height=600, left=24, top=24, scrollbars, resizable'); return false;">
        Upload
      </a>
    </div>
  </div> -->
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">File Name</th>
        <th scope="col">View File</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of fileResult">
        <td>{{item.filename}}</td>
        <td>
          <a href="{{item.fileweblink}}" target="_blank">
            <button class="btn btn-sm btn-outline-warning">
              <fa-icon [icon]="'eye'"></fa-icon>
            </button>
          </a>
        </td>
        <td>
          <button class="btn btn-sm btn-outline-danger" type="button" (click)="delete(item.id)">
            <fa-icon [icon]="'trash'"></fa-icon>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-raised-button mat-dialog-close class="btnCancel">Cancel</button>
    <button mat-raised-button>
        <a class="btn btn-primary" href="{{driveLink}}" onclick="window.open(this.href, 'windowName', 'width=300, height=150, top=200,left=500,toolbar=no,scrollbars=no,status=yes'); return false;">
            Upload
          </a>
    </button>
</mat-dialog-actions>
<!-- </div> -->