 <!--start of buttons -->
 <div class="row pull-right">
    <button type="button" class="btn btn-link" (click)="openProperty(propertyModal)" >
        <fa-icon [icon]="'plus'"></fa-icon>
        <span>Add</span>
    </button>
    <button type="button" class="btn btn-link">
        <span>
            <i class="fa fa-info" aria-hidden="true"></i>
            <span>Help</span>
        </span>
    </button>
</div>
<ng-template #propertyModal let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title" id="propertyModal">Property, Jewellery etc.</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form name="editForm" role="form" novalidate  #editForm="ngForm">
            <mat-form-field>
                <input 
                    matInput
                    maxlength="25"
                    style="width: 100%;" 
                    type="text"
                    placeholder="Property Name" 
                    name="prop_name"
                    id="prop_name" 
                    [(ngModel)]="property.prop_name"
                    required
                    jhiCharsOnly
                />
            </mat-form-field>&nbsp;&nbsp;
            <mat-form-field >
                <mat-select 
                    placeholder="Property Type"  
                    id="field_prop_type" 
                    name="prop_type" 
                    [(ngModel)]= "prop_type"
                    required>
                    <mat-option value="Residential">Residential</mat-option>
                    <mat-option value="Commercial">Commercial</mat-option>
                    <mat-option value="Agriculture">Agriculture</mat-option>
                    <mat-option value="Vehicle">Vehicle</mat-option>
                    <mat-option value="Jewellery">Jewellery</mat-option>
                </mat-select>
            </mat-form-field>&nbsp;&nbsp;
            <div [ngSwitch]="prop_type"><!--start of ngSwitch div-->
                <div *ngSwitchCase="'Residential'">
                    <mat-form-field  style="width: 80%;">
                        <mat-select placeholder="Property Details" id="field_prop_details" name="prop_details" [(ngModel)]="property.prop_details"
                            required>
                            <mat-option value="Apartments">Apartment</mat-option>
                            <mat-option value="Individual Villa/House">Individual villa/house</mat-option>
                            <mat-option value="Land">Land</mat-option>
                        </mat-select>
                    </mat-form-field>&nbsp;&nbsp;
                </div>
                <div *ngSwitchCase="'Commercial'">
                    <mat-form-field style="width: 80%;">
                        <mat-select placeholder="Property Details" id="field_prop_details" name="prop_details" [(ngModel)]="property.prop_details"
                            required>
                            <mat-option value="commercial Office">Commercial Office</mat-option>
                            <mat-option value="apartments">Apartments</mat-option>
                            <mat-option value="Individual Villa/House">Individual villa/house</mat-option>
                            <mat-option value="Land">Land</mat-option>
                        </mat-select>
                    </mat-form-field>&nbsp;&nbsp;
                </div>
                <div *ngSwitchCase="'Agriculture'">
                    <mat-form-field style="width: 80%;">
                        <mat-select placeholder="Property Details" id="field_prop_details" name="prop_details" [(ngModel)]="property.prop_details"
                            required>
                            <mat-option value="Farm House">Farm House</mat-option>
                            <mat-option value="Land">Land</mat-option>
                        </mat-select>
                    </mat-form-field>&nbsp;&nbsp;
                </div>
                <div *ngSwitchCase="'Vehicle'">
                    <mat-form-field style="width: 80%;">
                        <mat-select placeholder="Property Details" id="field_prop_details" name="prop_details" [(ngModel)]="property.prop_details"
                            required>
                            <mat-option value="Four Wheller">Four Wheeler</mat-option>
                            <mat-option value="Two Wheller">Two Wheeler</mat-option>
                        </mat-select>
                    </mat-form-field>&nbsp;&nbsp;
                </div>
                <div *ngSwitchCase="'Jewellery'">
                    <mat-form-field style="width: 80%;">
                        <mat-select placeholder="Property Details" id="field_prop_details" name="prop_details" [(ngModel)]="property.prop_details"
                            required>
                            <mat-option value="Gold">Gold</mat-option>
                            <mat-option value="Silver">Silver</mat-option>
                            <mat-option value="Other">Other</mat-option>
                        </mat-select>
                    </mat-form-field>&nbsp;&nbsp;
                </div>
            </div>
            <mat-form-field>
                <input 
                    matInput
                    maxlength="7" 
                    type="text" 
                    jhiNumberOnly 
                    placeholder="Current Market Value" 
                    name="current_m_value" 
                    id="field_current_m_value" 
                    [(ngModel)]="property.current_m_value"
                    required
                />
            </mat-form-field>&nbsp;&nbsp;
            <mat-form-field>
                <input matInput [matDatepicker]="picker" placeholder="As Of Date" name="as_of_date" [(ngModel)]="property.as_of_date" >
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>&nbsp;&nbsp;
            <mat-form-field>
                <textarea matInput rows="3" cols="50" placeholder="Comment"  name="notes" id="notes" [(ngModel)]="property.notes" [ngModelOptions]="{standalone: true}"></textarea>
            </mat-form-field>&nbsp;&nbsp;
            <div class="modal-footer">
                <button 
                    type="submit" 
                    mat-button 
                    class="btnSave"
                    [disabled]="editForm.form.invalid || isSaving"
                    (click)="c('Save click')">
                    <span class="fa fa-save"></span>&nbsp;
                    <span>Save</span>
                </button>
                <button 
                    type="button" 
                    mat-button
                    class="btnCancel"
                    data-dismiss="modal" 
                    (click)="d('Cross click')">
                    <span class="fa fa-ban"></span>&nbsp;
                    <span>Cancel</span>
                </button>
            </div> <!-- footer -->
        </form>
    </div> <!-- body -->
</ng-template>
<ng-template #editpropertyModal let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title" id="editpropertyModal">Property, Jewellery etc.</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form name="editForm" role="form" novalidate  #editForm="ngForm">
            <mat-form-field>
                <input 
                    matInput
                    maxlength="25"
                    style="width: 100%;" 
                    type="text"
                    jhiCharsOnly
                    placeholder="Property Name" 
                    name="prop_name"
                    id="prop_name" 
                    [(ngModel)]="property.prop_name"
                    required
                />
            </mat-form-field>&nbsp;&nbsp;
            <mat-form-field >
                <mat-select 
                    placeholder="Property Type"  
                    id="field_prop_type" 
                    name="prop_type" 
                    [(ngModel)]= "prop_type"
                    required>
                    <mat-option value="Residential">Residential</mat-option>
                    <mat-option value="Commercial">Commercial</mat-option>
                    <mat-option value="Agriculture">Agriculture</mat-option>
                    <mat-option value="Vehicle">Vehicle</mat-option>
                    <mat-option value="Jewellery">Jewellery</mat-option>
                </mat-select>
            </mat-form-field>&nbsp;&nbsp;
            <div [ngSwitch]="prop_type"><!--start of ngSwitch div-->
                <div *ngSwitchCase="'Residential'">
                    <mat-form-field  style="width: 80%;">
                        <mat-select placeholder="Property Details" id="field_prop_details" name="prop_details" [(ngModel)]="property.prop_details"
                            required>
                            <mat-option value="Apartments">Apartment</mat-option>
                            <mat-option value="Individual Villa/House">Individual villa/house</mat-option>
                            <mat-option value="Land">Land</mat-option>
                        </mat-select>
                    </mat-form-field>&nbsp;&nbsp;
                </div>
                <div *ngSwitchCase="'Commercial'">
                    <mat-form-field style="width: 80%;">
                        <mat-select placeholder="Property Details" id="field_prop_details" name="prop_details" [(ngModel)]="property.prop_details"
                            required>
                            <mat-option value="Commercial Office">Commercial Office</mat-option>
                            <mat-option value="Apartments">Apartments</mat-option>
                            <mat-option value="Individual villa/house">Individual villa/house</mat-option>
                            <mat-option value="Land">Land</mat-option>
                        </mat-select>
                    </mat-form-field>&nbsp;&nbsp;
                </div>
                <div *ngSwitchCase="'Agriculture'">
                    <mat-form-field style="width: 80%;">
                        <mat-select placeholder="Property Details" id="field_prop_details" name="prop_details" [(ngModel)]="property.prop_details"
                            required>
                            <mat-option value="Form House">Farm House</mat-option>
                            <mat-option value="Land">Land</mat-option>
                        </mat-select>
                    </mat-form-field>&nbsp;&nbsp;
                </div>
                <div *ngSwitchCase="'Vehicle'">
                    <mat-form-field style="width: 80%;">
                        <mat-select placeholder="Property Details" id="field_prop_details" name="prop_details" [(ngModel)]="property.prop_details"
                            required>
                            <mat-option value="Four Wheller">Four Wheeler</mat-option>
                            <mat-option value="Two Wheller">Two Wheeler</mat-option>
                        </mat-select>
                    </mat-form-field>&nbsp;&nbsp;
                </div>
                <div *ngSwitchCase="'Jewellery'">
                    <mat-form-field style="width: 80%;">
                        <mat-select placeholder="Property Details" id="field_prop_details" name="prop_details" [(ngModel)]="property.prop_details"
                            required>
                            <mat-option value="Gold">Gold</mat-option>
                            <mat-option value="Silver">Silver</mat-option>
                            <mat-option value="Other">Other</mat-option>
                        </mat-select>
                    </mat-form-field>&nbsp;&nbsp;
                </div>
            </div>
            <mat-form-field>
                <input 
                    matInput
                    maxlength="7"
                    type="text" 
                    jhiNumberOnly 
                    placeholder="Current Market Value" 
                    name="current_m_value" 
                    id="field_current_m_value" 
                    [(ngModel)]="property.current_m_value"
                    required
                />
            </mat-form-field>&nbsp;&nbsp;
            <mat-form-field>
                <input matInput [matDatepicker]="picker" placeholder="As Of Date" name="as_of_date" [(ngModel)]="property.as_of_date" >
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>&nbsp;&nbsp;
            <mat-form-field>
                <textarea matInput rows="3" cols="50" placeholder="Comment"  name="notes" id="notes" [(ngModel)]="property.notes" [ngModelOptions]="{standalone: true}"></textarea>
            </mat-form-field>&nbsp;&nbsp;
            <div class="modal-footer">
                <button 
                    type="submit" 
                    mat-button 
                    class="btnSave" 
                    [disabled]="editForm.form.invalid || isSaving"
                    (click)="c('Save click')">
                    <span class="fa fa-save"></span>&nbsp;
                    <span>Update</span>
                </button>
                <button 
                    type="button" 
                    mat-button 
                    class="btnCancel" 
                    data-dismiss="modal" 
                    (click)="d('Cross click')">
                    <span class="fa fa-ban"></span>&nbsp;
                    <span>Cancel</span>
                </button>
            </div> <!-- footer -->
        </form>
    </div> <!-- body -->
</ng-template>
<!-- table starts here -->
<table class="table-responsive-md table table-hover table-striped  table-sm">
    <thead>
        <tr>
            <th scope="col">Property Name</th>
            <th scope="col">Property Type</th>
            <th scope="col">Current Market Value</th>
            <th scope="col">Update</th>
            <th scope="col">Delete</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let prop of propertyDetail; let i = index">
            <td>{{prop.prop_name}} </td>
            <td>{{prop.prop_type}} </td>
            <td>{{prop.current_m_value}} </td>
            <td>
                <button 
                class="btn btn-outline-info btn-sm" 
                type="button" 
                (click)="openEditProperty(editpropertyModal,prop.id)">
                <span> <fa-icon [icon]="'edit'"></fa-icon></span>
                </button>             
            </td>
            <td>
                <button 
                    class="btn btn-outline-danger btn-sm" 
                    type="button"
                    (click)="opendeleteProperty(prop.id)"
                    >
                    <span> <fa-icon [icon]="'trash'"></fa-icon></span>
                </button>
            </td>
            <td>
                <button mat-raised-button (click)="openDialog(prop.id, 'Property')">Upload/View</button>
            </td>
        </tr> 
    </tbody>
</table>