<div style="top: -30px; ">
<div class="small-header bg-img2" >
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h3> Subscription</h3>
      </div>
    </div>
  </div>
</div>
</div>
<!-- Pricing Tables Dark-->
<section class="bg-light">
  <div class="container pricing text-center"><i class="ion-bag icon-big"></i>
    <h3>Subscription Table</h3>
    <div class="row my">
      <div class="col-md-4 col-sm-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4>Wise</h4>
          </div>
          <div class="panel-body"> Provides Limited Personal Finance Management System and Self managed Portfolio.</div>
          <ul class="list-group">
            <li class="list-group-item">Family Login</li>
            <li class="list-group-item">Dashboard Access</li>
            <li class="list-group-item">Income and Expenses</li>
            <li class="list-group-item">Assets and Liabilities</li>
            <li class="list-group-item"><span class="number"><sup>₹</sup>999</span><sub>Per Annum</sub>
              <br>(Including GST)
              <br><br><a  class="btn btn-block btn-info" [routerLink]="['/subscriber','FREE']" routerLinkActive="router-link-active" >Get Started</a></li>              </ul>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="panel active panel-default">
          <div class="panel-heading">
            <h4>Wiser</h4>
          </div>
          <div class="panel-body">Provides complete Personal Finance Management System along with Online Financial Advisory services.</div>
          <ul class="list-group">
            <li class="list-group-item">All Features of WISE</li>
            <li class="list-group-item">Goal Setting<span class="label label-danger">new</span>
            </li>
            <li class="list-group-item">Tax Planning Tool</li>
            <li class="list-group-item">Yearly Portfolio Review</li>
            <li class="list-group-item">Online Advisory</li>
            <li class="list-group-item"><span class="number"><sup>₹</sup>1999</span><sub>Per Annum</sub>
              <br>(Including GST)
              <br><br><a  class="btn btn-block btn-success" [routerLink]="['/subscriber','WISER']" routerLinkActive="router-link-active" >Get Started</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4>WISEST</h4>
          </div>
          <div class="panel-body">Our Privileged customers availing full features of Buckswise, Priority Services and Free Ad-ons.</div>
          <ul class="list-group">
            <li class="list-group-item">All Features of WISER</li>
            <li class="list-group-item">Priority Appointment with Advisors</li>
            <li class="list-group-item">Priority Customer Services</li>
            <li class="list-group-item">Half Yearly Portfolio Review</li>
            <li class="list-group-item">Free Tax Filing*</li>
            <li class="list-group-item"><span class="number"><sup>₹</sup>3999</span><sub>Per Annum</sub>
              <br>(Including GST)
              <br><br><a class="btn btn-block btn-primary" [routerLink]="['/subscriber', 'WISEST']" routerLinkActive="router-link-active" >Get Started</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
