    <!-- Services Section-->
    <section id="services" class="bg-img4 text-center">
      <div class="overlay"></div>
      <div class="container text-center">
        <div class="row">
          <div class="col-lg-12 col-lg-offset-2">
            <h3>Our Services</h3>
            <p>Financial Planning is the 1st step of Personal Finance Management long journey. We provide Financial Planning services to all income group people. Even the very low income people needs Financial Planning to take control of his/her life and goals. We want to break the myth that Financial Planning is only for rich and high income people and it’s an expensive service to opt for lower income people. </p>
          </div>
        </div>
        <div class="row"style="margin-top:-25px;">
          <div data-wow-delay=".2s" class="col-lg-4 col-sm-4 wow fadeIn">
            <h6><i class="icon icon-big ion-ios-analytics-outline"></i>ONLINE AND OFFLINE FINANCIAL PLANNING</h6>
            <p style="margin-top:-25px;">Offline or traditional in-personal financial planning services are available in selected cities. Online financial planning services are available on our brand product Buckswise.</p>
          </div>
          <div data-wow-delay=".4s"class="col-lg-4 col-sm-4 wow fadeIn">
            <h6><i class="icon icon-big ion-ios-pie-outline"></i> TAX PLANNING AND RETURN FILING</h6>
            <p>Tax planning and investment should start from begining of the financial year if not even earlier. We help you optimize your tax savings and assist you in hassle free Return Filing.</p>
          </div>
            <div data-wow-delay=".6s" class="col-lg-4 col-sm-4 wow fadeIn">
            <h6><i class="icon icon-big ion-ios-stopwatch-outline"></i> FINANCIAL GOAL SETTING AND ROADMAP</h6>
            <p style="margin-top:-25px;">We analyse all your source of income and assets. Help you in setting up your realistic and achievable financial goals. We give you a complete roadmap to achieve those goals.</p>
          </div>
          <div data-wow-delay=".2s" class="col-lg-4 col-sm-4 wow fadeIn">
            <h6><i class="icon icon-big ion-ios-analytics-outline"></i>INSURANCE PLANNING</h6>
            <p>Insurance is must to take control of your life. We analyse your Insurance requirements. We analyse all insurance products available in market and help you buying right insurance products.</p>
          </div>
          <div data-wow-delay=".4s"class="col-lg-4 col-sm-4 wow fadeIn">
            <h6><i class="icon icon-big ion-ios-pie-outline"></i> INVESTMENT PLANNING</h6>
            <p>We analyse your goals, timeframe, risk appetite, assets and liabilities. Accordingly, we give you a custom made Investment Plan. We provide all assistance in investments, keep track and monitor your investments.</p>
          </div>
            <div data-wow-delay=".6s" class="col-lg-4 col-sm-4 wow fadeIn">
            <h6><i class="icon icon-big ion-ios-stopwatch-outline"></i>INCOME VS EXPENSE ANALYSIS AND OPTIMISATION</h6>
            <p style="margin-top:-25px;">If you end up saving nothing by end of month, you are either earning less than you need to support your lifestyle or you are overspending. We analyse your Income and Expenses and help you start saving and investment.</p>
          </div>
          <!-- <div data-wow-delay=".12s" class="col-lg-6 col-sm-6 wow fadeIn">
            <h4><i class="icon icon-big ion-ios-game-controller-b-outline"></i> ADVERTISING</h4>
            <p>Lorem ipsum dolor sit amet. Con eleifend sem sed dictum mattis sectetur elit. Nulla convallis pul.</p>
          </div>
          <div data-wow-delay="6s" class="col-lg-6 col-sm-6 wow fadeIn">
            <h4><i class="icon icon-big icon ion-ios-infinite-outline"></i>BRANDING</h4>
            <p>Lorem ipsum dolor sit amet. Con eleifend sem sed dictum mattis sectetur elit. Nulla convallis pul.</p>
          </div>
          <div data-wow-delay="12s" class="col-lg-6 col-sm-6 wow fadeIn">
            <h4><i class="icon icon-big ion-ios-stopwatch-outline"></i>DEVELOPMENT</h4>
            <p>Lorem ipsum dolor sit amet. Con eleifend sem sed dictum mattis sectetur elit. Nulla convallis pul.</p>
          </div> -->
         <!----<div data-wow-delay="1.4s" class="col-lg-3 col-sm-6 wow fadeIn">
            <h4><i class="icon icon-big ion-ios-monitor-outline"></i>OPTIMIZATION</h4>
            <p>Lorem ipsum dolor sit amet. Con eleifend sem sed dictum mattis sectetur elit. Nulla convallis pul.</p>
          </div>
          <div data-wow-delay="1.6s" class="col-lg-3 col-sm-6 wow fadeIn">
            <h4><i class="icon icon-big ion-ios-settings"></i>CUSTOMIZATION</h4>
            <p>Lorem ipsum dolor sit amet. Con eleifend sem sed dictum mattis sectetur elit. Nulla convallis pul.</p>
          </div>
        </div> -->

       <!-- <div class="col-lg-12 services-list">
                    <div data-wow-delay=".2s" class="col-lg-6 col-sm-6 wow fadeIn">
                        <h4><i class="icon icon-big ion-ios-analytics"></i> Online and Offline Financial Planning</h4>
                        <p>Offline or traditional in-personal financial planning services are available in selected cities. Online financial planning services are available on our brand product <a href="http://buckswise.com/" target="_blank"><u>Buckswise</u>.</a> </p>
                    </div>
                    <div data-wow-delay=".4s" class="col-lg-6 col-sm-6 wow fadeIn">
                        <h4><i class="icon icon-big ion-social-tumblr"></i> Tax Planning and Return Filing</h4>
                        <p>Tax planning and investment should start from begining of the financial year if not even earlier. We help you optimize your tax savings and assist you in hassle free Return Filing.</p>
                    </div>
                    <div data-wow-delay=".2s" class="col-lg-6 col-sm-6 wow fadeIn">
                        <h4><i class="icon icon-big ion-ios-information"></i> Insurance Planning</h4>
                        <p>Insurance is must to take control of your life. We analyse your Insurance requirements. We analyse all insurance products available in market and help you buying right insurance products.</p>
                    </div>
                    <div data-wow-delay=".6s" class="col-lg-6 col-sm-6 wow fadeIn">
                        <h4><i class="icon icon-big ion-social-bitcoin"></i>Financial Goal Setting and Roadmap</h4>
                        <p>We analyse all your source of income and assets. Help you in setting up your realistic and achievable financial goals. We give you a complete roadmap to achieve those goals.</p>
                    </div>
                    <div data-wow-delay=".6s" class="col-lg-6 col-sm-6 wow fadeIn">
                        <h4><i class="icon icon-big ion-ios-pricetags"></i> Investment Planning</h4>
                        <p>We analyse your goals, timeframe, risk appetite, assets and liabilities. Accordingly, we give you a custom made Investment Plan. We provide all assistance in investments, keep track and monitor your investments. </p>
                    </div>
                   
                    <div data-wow-delay=".6s" class="col-lg-6 col-sm-6 wow fadeIn">
                        <h4><i class="icon icon-big ion-cash"></i>Income Vs Expense Analysis and Optimisation</h4>
                        <p>If you end up saving nothing by end of month, you are either earning less than you need to support your lifestyle or you are overspending. We analyse your Income and Expenses and help you start saving and investment. </p>
                    </div>
                </div>
               </div>                -->
            </div>
        </section>
