<div *ngIf="!valid">
    <div class="card">
            <div>
                    <button type="button" class="btn btn-link" (click)="onEightycSave()" [disabled]="!universalflag">
                        <span>
                        <fa-icon [icon]="'save'"></fa-icon>
                        <span> Save</span>
                        </span>
                    </button>
                    <button type="button" (click)="resetEightyc()" class="btn btn-link">
                        <span>
                          <i class="fas fa-sync fa-spin" aria-hidden="true"></i>
                          <span> Reset</span>
                        </span>
                    </button>
                    <button type="button" class="btn btn-link">
                        <span>
                            <i class="fa fa-info" aria-hidden="true"></i>
                            <span> Help</span>
                        </span>
                    </button>
            </div>
                <div class="card-header">
                Investment Other than Home
            </div>
                <div class="card-body">
                    <table class="table table-hover table-sm">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col"></th>
                                <th scope="col"></th>
                                <th scope="col">Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td scope="row">5 Years of Fixed Deposit in Schedule Bank (Enter amount of Tax-Saver Fixed Deposits only)</td>
                                <td></td>
                                <td></td>
                                <td>
                                    <input type="number"  name="fixed" [(ngModel)]="eightyc.fixed" (ngModelChange)="FindValue($event)">
                                </td>
                            </tr>
                            <tr>
                                <td scope="row">Tution Fees</td>
                                <td></td>
                                <td></td>
                                <td>
                                    <input type="number" value="0" name="tution" [(ngModel)]="eightyc.tution" (ngModelChange)="FindValue($event)">
                                </td>
                            </tr>
                            <tr>
                                <td scope="row">Deposite in NSC</td>
                                <td></td>
                                <td></td>
                                <td>
                                    <input type="number" value="0" name="nsc" [(ngModel)]="eightyc.nsc"(ngModelChange)="FindValue($event)">
                                </td>
                            </tr>
                            <tr>
                                <td scope="row">Deposite in NSS</td>
                                <td></td>
                                <td></td>
                                <td>
                                    <input type="number" value="0" name="nss" [(ngModel)]="eightyc.nss"(ngModelChange)="FindValue($event)">
                                </td>
                            </tr>
                            <tr>
                                <td scope="row">Deposite in Post Office saving Scheme</td>
                                <td></td>
                                <td></td>
                                <td>
                                    <input type="number" value="0" name="post" [(ngModel)]="eightyc.post"(ngModelChange)="FindValue($event)">
                                </td>
                            </tr>
                            <tr>
                                <td scope="row">Interest on NSC Reinvested(Upto 5th Completed year only)</td>
                                <td></td>
                                <td></td>
                                <td>
                                    <input type="number" value="0" name="reinvest" [(ngModel)]="eightyc.reinvest"(ngModelChange)="FindValue($event)">
                                </td>
                            </tr>
                            <tr>
                                <td scope="row">Life Insurance Premium</td>
                                <td></td>
                                <td></td>
                                <td>
                                    <input type="number" value="0" name="licpremium" [(ngModel)]="eightyc.licpremium"(ngModelChange)="FindValue($event)">
                                </td>
                            </tr>
                            <tr>
                                <td scope="row">Equity linked Savings Scheme (ELSS)</td>
                                <td></td>
                                <td></td>
                                <td>
                                    <input type="number" value="0" name="pf" [(ngModel)]="eightyc.pf"(ngModelChange)="FindValue($event)">
                                </td>
                            </tr>
                            <tr>
                                <td scope="row">Public Provident Fund</td>
                                <td></td>
                                <td></td>
                                <td>
                                    <input type="number" value="0" name="ppf" [(ngModel)]="eightyc.ppf"(ngModelChange)="FindValue($event)">
                                </td>
                            </tr>
                            <tr>
                                <td scope="row">Others</td>
                                <td></td>
                                <td></td>
                                <td>
                                    <input type="number" value="0" name="other" [(ngModel)]="eightyc.other"(ngModelChange)="FindValue($event)">
                                </td>
                            </tr>
                            <!-- <tr>
                                <td scope="row">Tution Fees</td>
                                <td></td>
                                <td></td>
                                <td>
                                    <input type="number" value="0" name="tutionfee" [(ngModel)]="eightyc.tutionfee"(ngModelChange)="FindValue($event)">
                                </td>
                            </tr> -->
                            <tr>
                                <td scope="row">ULIP of UTI/LIC</td>
                                <td></td>
                                <td></td>
                                <td>
                                    <input type="number" value="0" name="ulip" [(ngModel)]="eightyc.ulip"(ngModelChange)="FindValue($event)">
                                </td>
                            </tr>
                        </tbody>
                    </table>           
                </div>
            </div>
</div>
<div *ngIf="valid">
        <ng-template #eightycEditContent let-c="close" let-d="dismiss">
                <div class="modal-header">
                    <h4 class="modal-title" id="eightycEditContent">Eightyc Add</h4>
                    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="example-container" #eightycAdd="ngForm">
                        <div>
                            <mat-label>{{ nameField }}</mat-label>
                        </div>
                        <div>
                            <mat-form-field class="example-full-width">
                                <input matInput jhiNumberOnly required placeholder="Amount" type="number" value="" [(ngModel)]="editField" name="amount-name"(ngModelChange)="DetectChange($event)" >
                                <mat-hint>Please enter amount</mat-hint>
                            </mat-form-field>
                        </div><br><br>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-outline-success" (click)="c('Save click')" [disabled]="!isFieldChange">Update</button>
                        </div>
                    </form>
            </div>
        </ng-template>
        <div class="card">
                <div class="card-header">
                    Investment Other than Home
                </div>
                <div class="float-right" style="margin-left: 0px;">
                <button type="button" class="btn btn-link" (click)="updateEightyc()"[disabled]="!globalflag">
                        <fa-icon [icon]="'save'"></fa-icon> 
                    <span>Update</span>
                </button>  
                </div>
                <div class="card-body">
                    <table class="table table-hover table-sm" *ngFor="let eightycResponse of eightycResponse">
                        <thead class="thead-light">
                            <tr>
                                <!--Head of table start-->
                                <th scope="col">Name</th>
                                <th scope="col"></th>
                                <th scope="col"></th>
                                <th scope="col">Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>5 Years of Fixed Deposit in Schedule Bank (Enter amount of Tax-Saver Fixed Deposits only)</td>
                                <td></td>
                                <td></td>
                                 <td>{{eightycResponse.fixed}}</td>
                                 <button class="btn btn-outline-info"  type="button" (click)="onEditEightycField('Fixed Deposit in Schedule Bank', eightycEditContent)" >
                                <span> <fa-icon [icon]="'edit'"></fa-icon></span></button>
                             </tr>
                              <tr>
                                <td scope="row">Tution Fees</td>
                                <td></td>
                                <td></td>
                                <td>
                                {{eightycResponse.tution}}
                                </td>
                                <button class="btn btn-outline-info"  type="button" (click)="onEditEightycField('Tution Fees', eightycEditContent)" >
                                <span> <fa-icon [icon]="'edit'"></fa-icon></span></button>
                            </tr> 
                             <tr>
                                <td scope="row">Deposite in NSC</td>
                                <td>
                                <!-- <input type="checkbox"> -->
                                </td>
                                <td></td>
                                <td>
                                {{eightycResponse.nsc}}
                                </td>
                                <button class="btn btn-outline-info"  type="button" (click)="onEditEightycField('Deposite in NSC', eightycEditContent)" >
                                <span> <fa-icon [icon]="'edit'"></fa-icon></span></button>
                            </tr>
                            <tr>
                                <td scope="row">Deposite in NSS</td> 
                                <td></td>
                                <td></td>
                                <td>
                                {{eightycResponse.nss}}
                                </td>
                                <button class="btn btn-outline-info"  type="button" (click)="onEditEightycField('Deposite in NSS', eightycEditContent)" >
                                <span> <fa-icon [icon]="'edit'"></fa-icon></span></button>
                            </tr>
                            <tr>
                                <td scope="row">Deposite in Post Office saving Scheme</td>
                                <td></td>
                                <td></td>
                                <td>
                                {{eightycResponse.post}}
                                </td>
                                <button class="btn btn-outline-info"  type="button" (click)="onEditEightycField('Post Office saving Scheme', eightycEditContent)" >
                                <span> <fa-icon [icon]="'edit'"></fa-icon></span></button>
                            </tr>
                            <tr>
                                <td scope="row">Interest on NSC Reinvested(Upto 5th Completed year only)</td>
                                <td></td>
                                <td></td>
                                <td>
                                {{eightycResponse.reinvest}}
                                </td>
                                <button class="btn btn-outline-info"  type="button" (click)="onEditEightycField('Interest on NSC Reinvested', eightycEditContent)" >
                                <span> <fa-icon [icon]="'edit'"></fa-icon></span></button>
                            </tr>
                            <tr>
                                <td scope="row">Life Insurance Premium</td>
                                <td>
                                <!-- <input type="checkbox"> -->
                                </td>
                                <td></td>
                                <td>
                                {{eightycResponse.licpremium}}
                                </td>
                                <button class="btn btn-outline-info"  type="button" (click)="onEditEightycField('Life Insurance Premium', eightycEditContent)" >
                                <span> <fa-icon [icon]="'edit'"></fa-icon></span></button>
                            </tr>
                            <tr>
                                <td scope="row">Equity linked Savings Scheme (ELSS)</td>
                                <td></td>
                                <td></td>
                                <td>
                                {{eightycResponse.equity}}
                                </td>
                                <button class="btn btn-outline-info"  type="button" (click)="onEditEightycField('Equity linked Savings Scheme', eightycEditContent)" >
                                <span> <fa-icon [icon]="'edit'"></fa-icon></span></button>
                            </tr>
                            <tr>
                                <td scope="row">Provident Fund</td>
                                <td></td>
                                <td></td>
                                <td>
                                {{eightycResponse.pf}}
                                </td>
                                <button class="btn btn-outline-info"  type="button" (click)="onEditEightycField('Provident Fund', eightycEditContent)" >
                                <span> <fa-icon [icon]="'edit'"></fa-icon></span></button>
                            </tr>
                            <tr>
                                <td scope="row">Public Provident Fund</td>
                                <td></td>
                                <td></td>
                                <td>{{eightycResponse.ppf}}</td>
                                    <button class="btn btn-outline-info"  type="button" (click)="onEditEightycField('Public Provident Fund', eightycEditContent)" >
                                    <span> <fa-icon [icon]="'edit'"></fa-icon></span></button>
                            </tr>
                            <tr>
                                <td scope="row">Others</td>
                                <td></td>
                                <td></td>
                                <td>
                                {{eightycResponse.other}}
                                </td>
                                <button class="btn btn-outline-info"  type="button" (click)="onEditEightycField('Others', eightycEditContent)" >
                                <span> <fa-icon [icon]="'edit'"></fa-icon></span></button>
                            </tr>
                            <tr>
                                <td scope="row">ULIP of UTI/LIC</td>
                                <td></td>
                                <td></td>
                                <td>
                                {{eightycResponse.ulip}}
                                </td>
                                <button class="btn btn-outline-info"  type="button" (click)="onEditEightycField('ULIP of UTI/LIC', eightycEditContent)" >
                                <span> <fa-icon [icon]="'edit'"></fa-icon></span></button> 
                             </tr>
                        </tbody>
                    </table>
                </div>
                </div>
                </div>